{% extends 'reusable-pages/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div id="setoran" class="abs-container">
    <div class="row mx-0">
        <div claas="col-md-6">
        <span class="title my-auto">Setoran</span>
        <h5 class="pt-0" id="tanggal">{{ date }}</h5>
        </div>
    </div>

    <div id="sampah" class="col-md-6 px-0">
        <div class="box">
        <table class="col-md-12">
        {% for category, waste_dict in summary.items %}
            <th id="kategori" colspan="3"><h3>{{ category|title }}</h3></th>
            {% for waste, details in waste_dict.items %}
            <tr>
            <td id="nama_sampah"><h4>{{ waste|title }}</h4></td>
            <td id="berat_sampah"><h4>{{ details.amount|floatformat }} {{ details.unit }}</h4></td>
            <td id="harga_sampah"><h4>Rp{{ details.price|floatformat:2|intcomma }} </h4></td>
            </tr>
            {% endfor %}
        {% endfor %}

            <tr id="total">
            <td><h3>Total</h3></td>
            <td id="berat_sampah"><h4>{{ summary.total.amount|floatformat }} {{ summary.total.unit }}</h4></td>
            <td id="harga_sampah"><h4>Rp{{ summary.total.price|floatformat:2|intcomma }}</h4></td>
            </tr>

        <tr>
            <td><h3>Biaya operasional</h3></td>
            <td><h4>Rp{{ fee|floatformat:2|intcomma }}</h4></td>
        </tr>

        <tr>
            <td><h3>Pendapatan Nasabah</h3></td>
            <td><h4>Rp{{ income|floatformat:2|intcomma }}</h4></td>
        </tr>

        </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var active_menu = $('#menu-1');

    $(document).ready(function(){
        $('.menu').on('click', function(){
            $(active_menu).removeClass('active-menu');
            $(this).addClass('active-menu');
            $('div#'+$(active_menu).attr('id')).hide(300);
            $('div#'+$(this).attr('id')).show(300);

            active_menu = this;
        });

        $(document).on('click', 'div[id^=setoran_nasabah_] > .box > #nasabah > #arrow', function(){
            panel = $(this).parent().next();
            panel.toggleClass("d-block");
            $(this).toggleClass("flip");
        });
    })
</script>
{% endblock %}
