{% extends 'reusable-pages/base.html' %}
{% load static %}
{% load humanize%}

{% block content %}
<div id='l-nasabah__beranda' class="abs-container">
    <div id='l-nasabah__profile' class='box'>
        <div id='l-nasabah__greeting'>
            <h3 class='h-unimportant-text'>
                Selamat datang,
            </h3>
            <h2 class='green-text'>{{ nasabah_name }}</h2>
            <h4 class='h-unimportant-text'>
                {{ bsu_name }}
            </h4>
        </div>
        <div id="l-nasabah__saldo">
            <h3 class='h-unimportant-text'>
                Saldo anda saat ini
            </h3 class='h-unimportant-text'>
            <h2>Rp{{ balance|floatformat:2|intcomma }}</h2>
        </div>
    </div>
    <div id='l-nasabah__last-transactions' class='box'>
        <table class="col-md-12">
            <thead>
                <tr class='nasabah-tr barrier-bottom'>
                    <th class='h-unimportant-text c-last-transactions__title' colspan='4'><h3>Riwayat saldo terakhir</h3></th>
                </tr>
            </thead>
            <tbody id='l-last-transactions'>
                {% for saving in last_savings %}
                    <tr class='nasabah-tr'>
                        <td></td>
                        <td class='c-last-transactions__field barrier-bottom'><h4 class='green-text'>+ Rp{{saving.debit|floatformat:2|intcomma}}</h4></td>
                        <td class='c-last-transactions__field barrier-bottom'><h5>{{saving.date}}</h5></td>
                        <td></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}