{% extends 'reusable-pages/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div id='l-nasabah__tabungan' class="abs-container">
    <table class="col-md-12">
        <tr class='nasabah-tr'>
            <th class='title' colspan='3' ><p class="title black-text">Buku Tabungan</p></th>
        </tr>
        <tr class='nasabah-tr nasabah-t-title-border'>
            <th id='tabungan-date-title' class="title" colspan="1"><h4 class='black-text'><strong>Tanggal</strong></h4></th>
            <th id='tabungan-saldo-title' class="title" colspan="1"><h4 class='black-text'><strong>Saldo</strong></h4></th>
        </tr>

        {% for saving in savings %}
            <tr class='nasabah-tr'>
                <td ><h4>{{saving.date}}</h4></td>
                <td ><h4 class='black-text'>Rp{{ saving.balance|floatformat:2|intcomma }}</h4></td>
                <td class='c-nasabah__angle-down'>
                    <button>
                        <i class="fa fa-angle-down fa-3x" data-state='idle'></i>
                    </button>
                </td>
            </tr>

            <tr class='nasabah-tr-detail' data-display='disappear'>
                <td colspan='3'>
                    <table>
                        <tr class='nasabah-detail-tr'>
                            <td><h4>Debet</h4></td>
                            <td>
                                <h4 class='green-text'>
                                + Rp{{ saving.debit|floatformat:2|intcomma }}
                                </h4>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<script type='text/javascript'>
    $(document).ready(function() {
        $('.nasabah-tr').on('click', function() {
            let $angleDown = $(this).find('.fa-angle-down');
            let state = $angleDown.attr('data-state');
            let $nextSibling = $(this).next();
            if (state === 'idle') {
                $angleDown.attr('data-state', 'flip');
                $nextSibling.attr('data-display', 'appear');
            } else if (state === 'flip') {
                $angleDown.attr('data-state', 'idle');
                $nextSibling.attr('data-display', 'disappear');
            }
        });
    });
</script>
{% endblock %}