{% extends 'reusable-pages/base.html' %}
{% load static %}

{% block content %}
<div id="akun" class="abs-container d-block">
	<div id="pengaturan" class="roboto">
		<span class="title">Pengaturan Akun</span>

		<br>
		<a href="{% url 'account:logout' %}?next={% url 'web:landing_page' %}"><button class="col-md-6 list-group-button text-left">Log Out ({{ request.user.username }})</button></a>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(document).on('click', '#beranda', function(){
			$('html').load("{% url 'dashboard:index' %}");
		})
	})
</script>
{% endblock %}
