<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login to Sirmaba</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Roboto">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'registration/css/style.css' %}">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div id="login_menu" class="col-md-10 col-sm-12 mx-auto">
            <h2 class="text-center font-weight-bold">LOGIN KE SIRMABA</h2>
                <br>
                <button id="bsu" type="button" class="btn-common ln-green-old my-2 py-2 font-weight-bold">MASUK SEBAGAI BSU</button>
                <button id="bsi" type="button" class="btn-common ln-green-old my-2 py-2 font-weight-bold">MASUK SEBAGAI BSI</button>
                <button id="nasabah" type="button" class="btn-common ln-green-old my-2 py-2 font-weight-bold">MASUK SEBAGAI NASABAH</button>
            </div>

            <div id="login" class="col-md-10 col-sm-12 mx-auto">
                <h2 class="text-center font-weight-bold">LOGIN AKUN <span id="login_as">BSI</span></h2>
                <br>
                <div class="form-group col-md-12 px-0">
                    <h3>Username</h3>
                    <input id="username" type="text" name="username" placeholder="rafif.iqbal" class="form-control my-2" required>
                </div>

                <div class="form-group col-md-12 px-0">
                    <h3>Password</h3>
                    <input id="password" type="password" name="password" class="form-control my-2" required>
                </div>

                <button type="submit" class="btn-common bg-green">LOGIN</button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
      $('#login_menu > button').on('click', function(){
        login_as = $(this).attr('id');
        $('#login_as').html(login_as.toUpperCase());

        $('#login_menu').hide(300);
        $('div[id="login"]').show(300);

        if (login_as === 'bsi') {
          $('#login-form').attr('action', '{% url 'account:login' %}?next={% url 'dashboard:bsu-list' %}')

        } else if (login_as === 'bsu') {
          $('#login-form').attr('action', '{% url 'account:login' %}?next={% url 'dashboard:index' %}')
        } else if (login_as === 'nasabah') {
          $('#login-form').attr('action', '{% url 'account:login' %}?next={% url 'nasabah:home' %}')
        }
      });

      $(".modal").on("hidden.bs.modal", function(){
        $('div[id="login"]').hide();
        $('#login_menu').show();
      });
    </script>
  </body>
</html>
