a {
    pointer-events: visible;
    color: black;
}

a:hover {
    color: unset;
}

textarea {
    resize: unset;
}

a:focus {
    outline: 0;
}


h2{font-size: calc(1em + 1vw); font-weight: bold}

h3 {font-size: calc(0.75em + 0.5vw);}

h4 {font-size: calc(0.6em + 0.5vw);}

h5 {font-size: calc(0.5em + 0.4vw);}

h6 {font-size: calc(0.4em + 0.4vw);;}

p{
    font-size: 15px;
}

button:focus{
    outline: none;
}

.py-13{
    padding-top: 130px;
    padding-bottom: 130px;
}

.px-15{
    padding-left: 15%;
    padding-right: 15%;
}

.poppins{
    font-family : 'Poppins';
}

.roboto{
    font-family: 'Roboto';
}

.green-text{
    color: #009867;
}

.danger-text{
    color: #EB5757;
}

.text-background{
    color: #DDD;
    font-size: 35px;
    cursor: default;
    margin: auto 0;
}

.navbar-collapse > a{
    color: black;
}

.navbar-collapse > a:hover{
    color: black;
    text-decoration: none;
}

.title{
    font-size: 5vmin;
    font-weight: bold;
    font-family: 'Roboto';
    color: #555;
}

.box{
    position: relative;
    border: solid 0.5px #eeeeee;
    border-radius: 8px;
    padding: 5% 5% 3%;
    margin: 15px 0;
}

.bg-white{
    background-color: white;
}

.bg-green-old{
    background-color: #009867;
}

.bg-green-white{
    background: linear-gradient(to bottom,
    #009867 0px,
    #009867 250px,
    white 250px,
    white 100%);
    min-height: 100vh;
}

.abs-container {
    top: 75px;
    position: absolute;
    width: 100%;
    padding: 1% 8% 75px;
    margin: 0 auto;
    color: #777;
}

.container{
    padding: 5% 8%;
    margin: 0 auto;
}

button.btn-common {
    text-align: center;
    padding: 1.5%;
    width: 100%;
    border-radius:8px;
    border: solid 0.5px #C4C4C4;
    margin: 4.5% 0;
    color: #555555;
    background-color: white;
}

button.bg-green {
    border: solid 0.5px #009867;
    background-color: #009867;
    color: white;
}

button.bg-green-lgt {
    border: solid 0.5px #6FCF97;
    background-color: #6FCF97;
    color: white;
}

button.bg-red {
    border: solid 0.5px #EB5757;
    background-color: #EB5757;
    color: white;
}

button.ln-green{
    border: solid 0.5px #219653;
    color: #219653;
}

button.ln-green-old{
    border: solid 2px #219653;
    color: #009867;
}

button.ln-white{
    border: solid 1.5px #FFFFFF;
    color: #FFFFFF;
}

button.sml-btn{
    width: 33%;
    padding: 0.75% 2%;
    border-radius: 5px;
    margin: auto 0;
}

button.disabled{
    border: solid 0.5px #E0E0E0;
    background: #E0E0E0;
    color: white;
}

button.disabled:hover{
    color: white;
}

button.hover-green:hover {
    border: solid 0.5px #009867;
    color: #009867;
}

div.hover-green:hover {
    border: solid 0.5px #009867;
    color: #009867;
}

.box-model:nth-child(odd) {
    padding-left: 0;
}

.box-model:nth-child(even) {
    padding-right: 0;
}

@media only screen and (max-width: 768px) {
    .box-model {
        padding-left: 0;
        padding-right: 0;
    }
}

.shadows-bottom{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.shadows-top{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.form-control {
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 2% 2%;
    margin: 10px 0 30px;
    height: 50px;
}

.form-group{
    margin: 20px 0;
}

.overlay {
    display: none;
    background: #000;
    opacity: 0.8;
    z-index: 100;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.h-fixed-input {
    background-color: rgb(0, 0, 0, .15);
}

.l-flex--row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.l-flex--center-center {
    justify-content: center;
    align-items: center;
}

.h-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.form-group {
    flex: 1 1 auto;
}

.l-form__field-gap {
    width: 40px;
}

/* .form-group:first-child {
	margin-left: 0;
}

.form-group:last-child {
	margin-right: 0;
} */

#daftar_nasabah {
    display: flex;
    flex-flow: row wrap;
}

/**
* Nasabah Profile
*/

#l-profile__content {
    position: relative;
    width: 100%;
}

#l-profile__content input {
    background-color: transparent;
    padding: 0;
    border: none;
}

.c-profile__section-button[data-state="clicked"] {
    color: black;
    border-bottom: .5px solid black;
}

.l-profile__data-field {
    flex: 1 1 auto;
}

.l-profile__data-field > p {
    margin: 0;
}

.l-profile__section {
    width: 100%;
    min-width: 0;
    position: relative;
    top: 0;
    display: none;
}

.l-profile__section[data-display='show'] {
    display: initial;
}

.nasabah-t-title-border {
    border: .5px solid rgba(0, 0, 0, 0.089);
    border-left: none;
    border-right: none;
}

.barrier-bottom {
    border-bottom: .5px solid rgba(0, 0, 0, 0.089);
}

.nasabah-tr-detail {
    border-bottom: .5px solid rgba(0, 0, 0, 0.089);
    padding: 0;
}

.nasabah-tr-detail td {
    padding: 0;
}

.nasabah-tr-detail table {
    float: right;
}

.nasabah-tr-detail[data-display='appear'] table {
    display: initial;
}

.nasabah-tr-detail[data-display='disappear'] table {
    display: none;
}

.nasabah-detail-tr td {
    padding: 7px 0;
    width: 200px;
}

.trans-total {
    border-top: .5px solid rgba(0, 0, 0, 0.089);
    color: black;
}

#l-last-transactions tr:last-child td {
    height: 5vw;
}

#l-last-transactions td:first-child,
#l-last-transactions td:last-child {
    width: 5%;
}

.c-last-transactions__title {
    padding: 5% 5% 3% !important;
}

.black-text {
    color: #555 !important;
}

.nasabah-tr h3,
.nasabah-tr h4 {
    margin: 0;
}

.c-last-transactions__field h5 {
    margin: 0;
    vertical-align: middle;
    text-align: right;
}

.c-last-transactions__field:nth-child(1) {
    padding-left: 5%;
}

.c-last-transactions__field:nth-child(2) {
    padding-right: 5%;
}

.c-nasabah__angle-down {
    position: relative;
}

.c-nasabah__angle-down button {
    position: relative;
    padding: 0;
}

.c-nasabah__angle-down .fa-angle-down {
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 0%;
    opacity: .5;
    transform-origin: 50% 50%;
}

.c-nasabah__angle-down .fa-angle-down[data-state='idle'] {
    transform: translate(-100%, -75%) scale(1, 1);
}

.c-nasabah__angle-down .fa-angle-down[data-state='flip'] {
    transform: translate(-100%, -75%) scale(1, -1);
}

.nasabah-border-tr td {
    padding: 0;
}

#l-nasabah__tabungan .nasabah-tr {
    cursor: pointer;
}

.nasabah-tr > td > h4 {
    vertical-align: middle;
}

.nasabah-tr td,
.nasabah-tr th {
    color: #777;
    padding: 3.5% 0;
}

.nasabah-tr h4 {
    vertical-align: middle;
    margin: 0;
}

.nasabah-tr .title {
    color: black;
    width: 50%;
    /* font-weight: bold !important; */
}

#l-nasabah__last-transactions {
    padding: 0;
}

#l-nasabah__greeting,
#l-nasabah__saldo {
    height: 100%;
    width: 100%;
    padding: 5% 5% 3%;
}

#l-nasabah__greeting {
    border-bottom: .5px solid rgba(0, 0, 0, 0.089);
}

#l-nasabah__beranda #l-nasabah__profile {
    padding: 0;
}

.h-unimportant-text {
    opacity: .78;
}

/* ------------------------------------
	NASABAH LIST
-------------------------------------*/
#l-nasabah-list__header > .title {
    flex-grow: 2;
}

#l-nasabah-list__header > a {
    flex: 1 0 180px;
}

#l-nasabah-list__header > a button {
    border-width: 2px;
}


/* ------------------------------------
	WASTE PRICE
-------------------------------------*/
#l-waste-price-searcher > #cari {
    margin: 10px 0;
    font-size: .8em;
    height: 40px;
}

#l-waste-price-table {
    width: 100%;
}

/* ---------------------------------------------------
    SEARCH BAR
----------------------------------------------------- */
.l-search-bar {
    position: relative;
}

.l-search-bar > img {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    height: 20px;
    width: 20px;
    opacity: .5;
}

.l-search-bar > input {
    padding-left: 50px;
}


/* ---------------------------------------------------
    MENU STYLING
----------------------------------------------------- */
.nav-icon {
    height: 22px;
    opacity: .3;
}

.menu-grid{
    display: grid;
    grid-template-columns: 35% 50%;
    grid-template-rows: auto;
    grid-template-areas: "left right";
}

.menu {
    align-self: center;
    border-bottom: .5px solid #eee;
    color: #777777;
    margin-top: auto;
}

button#menu-1 {
    grid-area: left;
    border-style: none none solid none;
}

button#menu-2 {
    grid-area: right;
    border-style: none none solid none;
}

.active-menu {
    color: #219653;
    border-color: #219653;
    border-width: 3px;
    font-weight: bold;
}

button.menu{
    background-color: transparent;
}

div#menu-2{
    display: none;
}

/*----------------------------
POINTER SETTINGS
----------------------------*/
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card{
    cursor:pointer;
}

a > div.box {
    cursor:pointer;
}

button.disabled {
    cursor:default;
}

button.sml-btn {
    cursor:default;
}

/*-----------------------------
FILTERING 
------------------------------*/
#date-filter-container {
    justify-content: space-between;
}

#date-filter-container > span {
    width: 15px;
}

.date-filter {
    flex-grow: 1;
}


.date-filter h3 {
    margin: 0;
    margin-right: 10px;
}

.date-filter select {
    height: 45px;
    margin: 0;
}
