{% extends 'dashboard/bsu/base.html' %}
{% load static %}

{% block content %}
    <div class="abs-container">
        <div class="row mx-0">
            <span id="c-profile__name" class="title my-auto">Tambah Nasabah</span>
        </div>
        <div class="box col-md-6">
            <form onsubmit="return false">
                {% csrf_token %}
                <h3 class="font-weight-bold black-text">Data Nasabah</h3>
                {% include "reusable-pages/input.html" with name='Nama BSU' type='text-fixed' value=bsu_name %}
                <div class="l-flex--row-nowrap l-flex--center-center">
                    {% include "reusable-pages/input.html" with name='Nama Depan' type='text' value='' %}
                    <span class='l-form__field-gap'></span>
                    {% include "reusable-pages/input.html" with name='Nama Belakang' type='text' value='' %}
                </div>
                
                <br>
                <h3 class="font-weight-bold black-text">Data Akun</h3>
                {% include "reusable-pages/input.html" with name='Username' type='text' value='' %}
                {% include "reusable-pages/input.html" with name='Password' type='password' value='' %}
                {% include "reusable-pages/input.html" with name='Ulangi Password' type='password' value='' %}
                <button type="submit" value="Submit" class="btn-common bg-green poppins font-weight-bold">Simpan</button>
            </form>
        </div>
    </div>

    <div class="modal fade" id="modal-status-success" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Berhasil ditambah!</h3>  
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-status-failed" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Gagal Terkirim!</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $("form").submit(function(e) {
                if ($("input[name='Password']").val() === $("input[name='Ulangi Password']").val()) {
                    const nasabah_data = {
                        "username": $("input[name='Username']").val(),
                        "password": $("input[name='Password']").val(),
                        "bsu_id": parseInt('{{ bsu_id }}'),
                        "first_name": $("input[name='Nama Depan']").val(),
                        "last_name": $("input[name='Nama Belakang']").val(),
                        "contact": null,
                        "rt": null,
                        "rw": null,
                        "address": null,
                    }
            
                    $.ajax({
                        url: "/dashboard/bsu/{{ bsu_id }}/nasabah/",
                        headers: {
                            "X-CSRFToken": $("input[name='csrfmiddlewaretoken']").val(),
                        },
                        method: "POST",
                        dataType: "json",
                        data: JSON.stringify(nasabah_data),
                        success: (response) => {
                            if (response.status == 200) {
                                $modal = $('#modal-status-success');
                                $modal.modal('show');
                                window.location = '/dashboard/nasabah/list/';
                            } else {
                                $modal = $('#modal-status-failed');
                                message = ''
                                if (Array.isArray(response.problem)) {
                                    response.problem.map((problem, index) => {
                                        message += `${index + 1}. ${problem}<br>`;
                                    })
                                } else {
                                    if (response.problem === 'UNIQUE constraint failed: auth_user.username') {
                                        message = 'Username has already been taken';
                                    } else {
                                        message = response.problem;
                                    }
                                }
                                $modal.find("p").html(message);
                                $modal.modal('show');
                            }
                        } 
                    });

                } else {
                    $modal = $('#modal-status-failed');
                    $modal.find("p").text("Password does not match");
                    $modal.modal('show')
                }
            });
        });
    </script>
{% endblock %}