{% extends 'dashboard/bsu/base.html' %}
{% load static %}

{% block content %}
    <div class="abs-container">
        <div id='l-nasabah-list__header' class="h-center">
            <span class="title my-auto">Daftar Nasabah</span>
            <a href="{% url 'dashboard:nasabah-form' %}" class="col-md-5 mx-auto">
                <button id="penjemputan" class="my-1 btn-common ln-green font-weight-bold">
                    <small>
                        <i class="fa fa-plus px-1"></i>
                        <strong>
                            Tambah Nasabah
                        </strong>
                    </small>
                </button>
            </a>
        </div>
        <br>
        <div id="pilih_nasabah">
            <div class='l-search-bar'>
                <input id="cari" type="text" name="cari" class="form-control col-md-6" placeholder="Cari Nasabah">
                <img src="{% static 'dashboard/icons/search.svg' %}"">
            </div>
            <div id="daftar_nasabah">

            </div>
        </div>
    </div>
    <script type="text/javascript">
        function showNasabahList(data) {
            $("#daftar_nasabah").empty();
            for (nasabah of data) {
                let information = "";
                if (
                    nasabah.address == null && 
                    nasabah.rt == null && 
                    nasabah.rw == null && 
                    nasabah.contact == null
                ) {
                    information = "<h4>Informasi belum diisi</h4>";
                } else {
                    information = `
                        <h4>${ nasabah.address || "-" }</h4>
                        <h4>RT ${ nasabah.rt || "-" } RW ${ nasabah.rw || "-" }</h4>
                        <h4>${ nasabah.contact || "-" }</h4>
                    `;
                }
                $("#daftar_nasabah").append(`
                    <div class="box-model col-md-6">
                        <a href="\\dashboard\\nasabah\\${nasabah.id}\\profile\">
                            <div class="box hover-green">
                                <h3><b>${ nasabah.first_name + " " + nasabah.last_name }</b></h3>
                                <h4>${ information }</h4>
                            </div>
                        </a>
                    </div>
                `);
            }
        }
        $(document).ready(function() {
            let data = []
            $.ajax({
                url: `/dashboard/bsu/{{ bsu_id }}/nasabah/`,
                headers: {
                    "X-CSRFToken": $("input[name='csrfmiddlewaretoken']").val(),
                },
                method: "GET",
                dataType: "json",
                success: (response) => {
                    if (response.status == 200) {
                        data = response.data;
                        showNasabahList(data);
                    }
                }
            });

            $("#cari").on("keyup", function() {
                $('#daftar_nasabah > div').each(function() {
                    const $fullName = $(this).find('.box > *:first-child');
                    const fullName = $fullName.text();
                    const searchedValue = $('#cari').val().toLowerCase();
                    let index = fullName.toLowerCase().search(searchedValue);
                    if (index >= 0) {
                        const prefix = fullName.substring(0, index);
                        const coloredText = fullName.substring(index, index + searchedValue.length);
                        const suffix = fullName.substring(index + searchedValue.length);
                        $fullName.html(`
                            <b>${prefix}<span style='color:#009867;'>${coloredText}</span>${suffix}</b>
                        `);
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
{% endblock %}