{% extends 'dashboard/bsi/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div class="row m-0">
	<h2 style="color:#009867" class="mt-auto">Rekapitulasi</h2>
</div>
<br>
<br>
<div class="box-bsu" style="overflow-x:auto">
	<table class="table">
    <thead>
      <th>Tanggal</th>
      <th>Jumlah BSU</th>
      <th>Jumlah Setoran (Rp)</th>
      <th>Total Sampah (Kg)</th>
      <th></th>
    </thead>
    <tbody>
      <tr id="setoran_">
        <td>Tanggal berapa</td>
        <td>?? BSU</td>
        <td>Rp berapa ya</td>
        <td>Berapa kg</td>
        <td>
          <button id="report-detail" onclick="report_detail(2019)" class="btn btn-common ln-green-old my-1 py-1 px-2">
            Lihat
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="report-detail-modal" tabindex="-1" role="dialog" aria-hidden="true">
</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript">
var report_detail = function(date_str) {
  $('#report-detail-modal').load('deposit-list/'+date_str+'/detail/', function(){
    $('#report-detail-modal').modal('show');
  });
}

$(document).ready( function () {
	var table = $('.table').DataTable({
		"paging": true,
		"searching": true,
		"ordering": true,
		"drawCallback": function () {
      $('.dataTables_filter').find('input[type=search]').addClass('form-control w-auto d-inline-block p-0');
      $('.dataTables_paginate').find('.current').addClass('rounded-lg ');
      $('.dataTables_wrapper').find('select').addClass('form-control w-auto d-inline-block p-0');
    }
	})
});
</script>

{% endblock %}
