<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sirmaba</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Roboto">
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script type="text/javascript" src="{% static 'web/js/script.js' %}"></script>
  </head>
  <body id="bsi" class="background">
    <div class="overlay position-fixed d-md-none"></div>
    <!--Header Sidebar-->
    <div class="sidebar position-fixed" id="sidebar">
      <div class="sidebar-header pb-4 pl-5">
          <button class="btn btn-link float-right py-2 px-3">
            <i class="fa fa-times fa-2x"></i>
          </button>

          <div class="pt-5">
            <a class="navbar-brand" href="{% url 'web:landing_page' %}">
              <img src="{% static 'web/images/logo.png' %}" style="width: 175px; height: 90px">
            </a>
          </div>
      </div>

      <div class="sidebar-menu pt-4 pl-5" style="opacity: 0.7">
        <a href="" class="row py-2">
          <p class="font-weight-bold">Keuntungan</p>
        </a>

        <a href="#" class="row py-2">
          <p class="font-weight-bold">Cara Kerja</p>
        </a>

        <a href="#" class="row py-2">
          <p class="font-weight-bold">Jenis Sampah</p>
        </a>

        <a href="#" class="row py-2">
          <p class="font-weight-bold">Acara</p>
        </a>

        <a href="#" class="row py-2">
          <p class="font-weight-bold">Daftar Ulang</p>
        </a>

        <a href="{% url 'form:interest' %}" class="row py-2">
          <p class="font-weight-bold">Ingin Bergabung</p>
        </a>
      </div>
    </div>

    <nav class="navbar py-auto navbar-expand-lg fixed-top py-2" role="navigation">
      <button class="navbar-toggler navbar-toggler-left py-auto mr-auto" type="button">
        <i class="fa fa-bars text-white fa-2x" style="font-size: 25px"></i>
      </button>

      <div class="collapse navbar-collapse mx-3 px-5" id="navbarNav">
        <div>
          <a class="navbar-brand float-left" href="{% url 'web:landing_page' %}">
            <img src="{% static 'web/images/logo.png' %}" style="width: 175px; height: 90px">
          </a>
        </div>

        <div class="d-flex flex-row flex-end ml-auto text-white">
          <a href="#" class="row ml-3">
            <h3 class="ml-5 mr-2 my-auto">Keuntungan</h3>
          </a>

          <a href="#" class="row ml-3">
            <h3 class="ml-5 mr-1 my-auto">Cara Kerja</h3>
          </a>

          <a href="#" class="row ml-3">
            <h3 class="ml-5 mr-1 my-auto">Jenis Sampah</h3>
          </a>

          <a href="#" class="row ml-3">
            <h3 class="ml-5 mr-1 my-auto">Acara</h3>
          </a>

          <a href="#" class="row ml-3">
            <h3 class="ml-5 mr-1 my-auto">Daftar Ulang</h3>
          </a>

          <a href="{% url 'form:interest' %}" class="row ml-3">
            <h3 class="ml-5 mr-1 my-auto">Ingin Bergabung</h3>
          </a>
        </div>
      </div>
    </nav>
    <!--End Header-->

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <form id="login-form" action="{% url 'account:login' %}" method="POST">
              {% csrf_token %}
              <div id="login_menu">
                <h2 class="text-center font-weight-bold">LOGIN KE SIRMABA</h2>
                <br>
                <button id="bsu" type="button" class="btn-common ln-green-old my-2 py-2 font-weight-bold">MASUK SEBAGAI BSU</button>
                <button id="bsi" type="button" class="btn-common ln-green-old my-2 py-2 font-weight-bold">MASUK SEBAGAI BSI</button>
                <button id="nasabah" type="button" class="btn-common ln-green-old my-2 py-2 font-weight-bold">MASUK SEBAGAI NASABAH</button>
              </div>

              <div id="login">              
                <h2 class="text-center font-weight-bold">LOGIN AKUN <span id="login_as">BSI</span></h2>
                <br>
                <div class="form-group col-md-12 px-0">
                  <h3>Username</h3>
                  <input id="username" type="text" name="username" placeholder="rafif.iqbal" class="form-control my-2" required>
                </div>

                <div class="form-group col-md-12 px-0">
                  <h3>Password</h3>
                  <input id="password" type="password" name="password" class="form-control my-2" required>
                </div>

                <button class="btn-common bg-green" type="submit"><strong>LOGIN</strong></button>
              </div>
            </form>        
          </div>
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock content %}
    <script type="text/javascript">
      $('#login_menu > button').on('click', function(){
        login_as = $(this).attr('id');
        $('#login_as').html(login_as.toUpperCase());
        
        $('#login_menu').hide(300);
        $('div[id="login"]').show(300);

        if (login_as === 'bsi') {
          $('#login-form').attr('action', '{% url 'account:login' %}?next={% url 'dashboard:bsu-list' %}')

        } else if (login_as === 'bsu') {
          $('#login-form').attr('action', '{% url 'account:login' %}?next={% url 'dashboard:index' %}')
        } else if (login_as === 'nasabah') {
          $('#login-form').attr('action', '{% url 'account:login' %}?next={% url 'nasabah:home' %}')
        }
      });

      $(".modal").on("hidden.bs.modal", function(){
        $('div[id="login"]').hide();
        $('#login_menu').show();
      });
    </script>
  </body>
</html>
