body.background{
	background: no-repeat center center fixed url("/static/web/images/background.png");
    background-size: cover;
}

#bsi .navbar-collapse a{
	color: white;
}

#bsi .navbar-collapse a:hover{
	color: white;
	text-decoration: none;
}

#bsi .navbar{
	-webkit-transition: all ease-out .3s;
	-moz-transition: all ease-out .3s;
	-o-transition: all ease-out .3s;
	transition: all ease-out .3s;
}

#bsi .sidebar-header{
	background: rgba(25, 25, 25, 0.75);
	height:100%;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.sidebar {
	display: none;
	background: #fff;
	width: 70%;
	float: left;
	min-height: 100vh;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	z-index: 1050;
}

.sidebar-header{
	background: rgba(224, 224, 224, 0.3);
	height:100%;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.sidebar-menu > a{
	color: black;
}

.sidebar-menu > a:hover{
	color: black;
	text-decoration: none;
}

.modal-content{
	border-radius: 10px;
}

.modal-body{
	padding: 15%;
}

div#login{
	display: none;
}

.image-keuntungan{
	width: 170px;
	height: 170px;
}

div[id*="sampah"]{
	margin-top: 10px;
	margin-bottom: 10px;
}

#jumbotron{
	height: 100vh;
	padding	:3% 5%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

button#daftar_ulang:hover{
	color: #009867;
}
