{% extends 'dashboard/bsu/base.html' %}
{% load static %}

{% block style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="setoran" class="abs-container">
  <div class="row mx-0">
    <span class="title my-auto">Penjemputan</span>
  </div>

  <br>

  <div class="row mx-0">
    <div id="catat_sampah" class="col-md-6">
      <h3><strong>Pencatatan Sampah</strong></h3>

      <form action="{% url 'transaction:call' %}" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        <table border="0" class="col-md-12">
          <thead>
            <th id="jenis_sampah"><b>Jenis Sampah</b></th>
            <th id="berat_sampah"><b>Jumlah</b></th>
          </thead>
          <tbody id="daftar_sampah">
            {% for form in formset %}
            <tr>
              <td id="jenis_sampah">{{ form.waste }}</td>
              <td id="berat_sampah">{{ form.amount }}</td>
            </tr>
            {% endfor %}
          </tbody>
          <tbody id="empty_form" style="display: none">
            <tr>
              <td id="jenis_sampah">{{ formset.empty_form.waste }}</td>
              <td id="berat_sampah">{{ formset.empty_form.amount }}</td>
            </tr>
          </tbody>
        </table>
        <button id="tambah_sampah" class="btn-common mb-0" type="button"><h3 class="my-1"><i class="fa fa-plus px-1"></i>Tambah Sampah</h3></button>
        <button class="btn-common bg-green font-weight-bold" type="submit">SIMPAN</button>
      </form>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script>
    $(document).ready(function(){
        $('#tambah_sampah').click(function () {
            let total_form = $('#id_form-TOTAL_FORMS');
            let form_idx = total_form.val();
            $('#daftar_sampah').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
            total_form.val(parseInt(form_idx)+1);
            formset_select('select#id_form-' + form_idx + '-waste');
        });

        formset_select = function(selector) {
            var select2 = $(selector).select2();
            select2.data('select2').$container.addClass("form-control");
            select2.data('select2').$selection.addClass("border-0");
            $($(select2.data('select2').$selection).find(".select2-selection__arrow")).css("top", "13px");
        }

        var elem = $('select').filter(function() { return this.id.match('id_form-[0-9]-waste'); })
        formset_select(elem);
    });
</script>
{% endblock %}
