<a href="{% url 'transaction:history' %}" id="jemput_1" class="col-md-6">
  <div class="box">
    <button class="sml-btn bg-red float-right text-center"><h6 class="my-auto">Belum dijemput</h6></button>

    <h3 id="date" class=""><strong>25 April 2019</strong></h3>
    <h4 id="total_pendapatan">Total pendapatan: Rp. <span id="income">150.000</span></h4>
  </div>
</a>

<a href="{% url 'transaction:history' %}" id="jemput_1" class="col-md-6">
  <div class="box">
    <button class="sml-btn bg-green-lgt float-right text-center"><h6 class="my-auto">Belum dijemput</h6></button>

    <h3 id="date" class=""><strong>25 April 2019</strong></h3>
    <h4 id="total_pendapatan">Total pendapatan: Rp. <span id="income">150.000</span></h4>
  </div>
</a>

<a href="{% url 'transaction:history' %}" id="jemput_1" class="col-md-6">
  <div class="box">
    <button class="sml-btn bg-green-lgt float-right text-center"><h6 class="my-auto">Belum dijemput</h6></button>

    <h3 id="date" class=""><strong>25 April 2019</strong></h3>
    <h4 id="total_pendapatan">Total pendapatan: Rp. <span id="income">150.000</span></h4>
  </div>
</a>

<a href="{% url 'transaction:history' %}" id="jemput_1" class="col-md-6">
  <div class="box">
    <button class="sml-btn bg-green-lgt float-right text-center"><h6 class="my-auto">Belum dijemput</h6></button>

    <h3 id="date" class=""><strong>25 April 2019</strong></h3>
    <h4 id="total_pendapatan">Total pendapatan: Rp. <span id="income">150.000</span></h4>
  </div>
</a>

<a href="{% url 'transaction:history' %}" id="jemput_1" class="col-md-6">
  <div class="box">
    <button class="sml-btn bg-green-lgt float-right text-center"><h6 class="my-auto">Belum dijemput</h6></button>

    <h3 id="date" class=""><strong>25 April 2019</strong></h3>
    <h4 id="total_pendapatan">Total pendapatan: Rp. <span id="income">150.000</span></h4>
  </div>
</a>