{% extends 'dashboard/bsu/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div id="penjemputan" class="abs-container">
  <div class="row mx-0 flex-nowrap">
    <p class="title">Penjemputan Sampah</p>
    {% if can_call_pickup %}
      <a href="{% url 'transaction:call' %}" class="button-right col-md-3"><button id="tambah_jemputan" class="py-1 px-1 btn-common bg-green"><small><i class="fa fa-plus px-1"></i>Panggil BSI</small></button></a>
    {% endif %}
  </div>

  <h3 class="green-text">
    <b>Riwayat Penjemputan</b>
  </h3>

  <div id="pickup-list" class="row">
      {% for request in pickup_request %}
      <a href="{% url 'transaction:history' request.id %}" id="jemput_1" class="col-md-6">
        <div class="box">
          {% if request.transaction %}
            <button class="sml-btn bg-green-lgt float-right text-center"><h6 class="my-auto">Sudah dijemput</h6></button>
          {% else %}
            <button class="sml-btn bg-red float-right text-center"><h6 class="my-auto">Belum dijemput</h6></button>
          {% endif %}

          <h3 id="date" class=""><strong>{{ request.created_at }}</strong></h3>
          <h4 id="total_pendapatan">Total pendapatan: Rp<span id="income">{{ request.value|floatformat|intcomma }}</span></h4>
        </div>
      </a>
      {% endfor %}
  </div>
</div>
{% endblock %}
