<table class="table">
  <thead>
    <th>Tanggal diminta</th>
    <th>Nama BSU</th>
    <th>Berat sampah (kg)</th>
    <th>Status</th>
    <th>Aksi</th>
  </thead>

  <tbody>
    <tr id="1">
      <td>A</td>
      <td>A</td>
      <td>A</td>
      <td>A</td>
      <td class="row">
        <span class="col-md-6 px-1"><button class="btn btn-common ln-green-old pt-2 px-2" id="pickup-detail-button">
          <h5>Lihat</h5>
        </button></span>
        <a href="#" class="col-md-6 px-1"><button class="btn btn-common bg-green pt-2 px-2">
          <h5>Jemput</h5>
        </button></a>
      </td>
    </tr>

    <tr id="2">
      <td>A</td>
      <td>A</td>
      <td>A</td>
      <td>A</td>
      <td class="row">
        <span class="col-md-6 px-1"><button class="btn btn-common ln-green-old pt-2 px-2" id="pickup-detail-button">
          <h5>Lihat</h5>
        </button></span>
        <a href="#" class="col-md-6 px-1"><button class="btn btn-common bg-green pt-2 px-2">
          <h5>Jemput</h5>
        </button></a>
      </td>
    </tr>
  </tbody>
</table>
