{% extends 'dashboard/bsi/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div class="row m-0">
	<h2 style="color:#009867" class="mt-auto">Penjemputan Sampah</h2>
</div>
<br>
<br>
<div class="box-bsu" style="overflow-x:auto">
	<table class="table">
		<thead>
			<th>Tanggal diminta</th>
			<th>Nama BSU</th>
			<th>Berat sampah (kg)</th>
			<th>Status</th>
			<th>Aksi</th>
		</thead>
		<tbody>
<!--			% for bsu in bsu_list %-->
    {% for pickup_request in pickup_requests %}
			<tr>
				<td>{{ pickup_request.created_at }}</td>
				<td>{{ pickup_request.bsu }}</td>
				<td>{{ pickup_request.summary.total.amount|floatformat }}</td>
				<td>{{ pickup_request.transaction|yesno:"sudah dijemput,belum dijemput" }}</td>
				<td class="row">
          <span class="col-md-6 px-1">
            <button class="btn btn-common ln-green-old pt-2 px-2" data-toggle="modal" data-target="#pickup-detail-modal-{{ pickup_request.id }}">
						  <h5>Lihat</h5>
					  </button>
          </span>
					{% if pickup_request.transaction %}
					<span class="col-md-6 px-1">
						<button class="btn btn-common disabled pt-2 px-2" disabled>
							<h5>Dijemput</h5>
						</button>
					</span>
					{% else %}
				  <a href="{% url 'transaction:pickup-confirm' pickup_request.id %}" class="col-md-6 px-1">
            <button class="btn btn-common bg-green pt-2 px-2">
						  <h5>Jemput</h5>
					  </button>
          </a>
					{% endif %}
				</td>
			</tr>
    {% endfor %}
		</tbody>
	</table>
</div>

{% for pickup_request in pickup_requests %}
<div class="modal fade" id="pickup-detail-modal-{{ pickup_request.id }}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content p-4">
			<div class="modal-header">
        <h2><strong>Detail Penjemputan</strong></h2>
      </div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<strong>Nama BSU</strong>
						<br>
						{{ pickup_request.bsu }}
					</div>
				</div>

				<br>
				<div class="row">
					<div class="col-md-6">
						<strong>Tanggal diminta</strong>
						<br>
						{{ pickup_request.created_at }}
					</div>

					<div class="col-md-6">
						<strong>Tanggal dijemput</strong>
						<br>
						{% if pickup_request.transaction %}
              {{ pickup_request.transaction.timestamp }}
            {% else %}
              Belum dijemput
						{% endif %}
					</div>
				</div>

				<br>
				<strong>Daftar Sampah</strong>

				<div id="sampah">
					<table class="col-md-12">
            {% for category, waste_dict in pickup_request.summary.items %}
						<th id="kategori" colspan="3"><strong>{{ category|title }}</strong></th>

              {% for waste, details in waste_dict.items %}
              <tr>
                <td id="nama_sampah">{{ waste|title }}</td>
                <td id="berat_sampah">{{ details.amount|floatformat }} {{ details.unit }}</td>
                <td id="harga_sampah">{{ details.price|floatformat }} {{ details.currency }}</td>
              </tr>
              {% endfor %}
            {% endfor %}

            <tr id="total">
              <td><h3>Total</h3></td>
              <td id="berat_sampah"><h4>{{ pickup_request.summary.total.amount|floatformat }} {{ pickup_request.summary.total.unit }}</h4></td>
              <td id="harga_sampah"><h4>{{ pickup_request.summary.total.price|floatformat }} {{ pickup_request.summary.total.currency }}</h4></td>
            </tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript">
$(document).ready( function () {
	var table = $('.table').DataTable({
		"paging": true,
		"searching": true,
		"ordering": true,
		"drawCallback": function () {
      $('.dataTables_filter').find('input[type=search]').addClass('form-control w-auto d-inline-block p-0');
      $('.dataTables_paginate').find('.current').addClass('rounded-lg ');
      $('.dataTables_wrapper').find('select').addClass('form-control w-auto d-inline-block p-0');
    }
	})
});
</script>

{% endblock %}
