<div class="row">
  <div class="col-md-6">
    <strong>Nama BSU</strong>
    <br>
    {{ pickup.bsu }}
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-6">
    <strong>Tanggal diminta</strong>
    <br>
    {{ pickup.req_date }}
  </div>

  <div class="col-md-6">
    <strong>Tanggal dijemput</strong>
    <br>
    {{ pickup.pick_date }}
  </div>
</div>

<br>
<strong>Daftar Sampah</strong>

<div id="sampah">
  <table class="col-md-12">
    <th id="kategori" colspan="3"><strong>Plastik</strong></th>
    <tr>
      <td id="nama_sampah">Botol A</td>
      <td id="berat_sampah">2000 kg</td>
      <td id="harga_sampah">Rp 2,500,000</td>
    </tr>

    <tr>
      <td id="nama_sampah">Botol A</td>
      <td id="berat_sampah">2000 kg</td>
      <td id="harga_sampah">Rp 2,500,000</td>
    </tr>

    <th id="kategori" colspan="3"><strong>Plastik</strong></th>
    <tr>
      <td id="nama_sampah">Botol A</td>
      <td id="berat_sampah">2000 kg</td>
      <td id="harga_sampah">Rp 2,500,000</td>
    </tr>

    <tr>
      <td id="nama_sampah">Botol A</td>
      <td id="berat_sampah">2000 kg</td>
      <td id="harga_sampah">Rp 2,500,000</td>
    </tr>

    <tr>
      <td id="nama_sampah">Botol A</td>
      <td id="berat_sampah">2000 kg</td>
      <td id="harga_sampah">Rp 2,500,000</td>
    </tr>

    <tr id="total">
      <td><strong>Total</strong></td>
      <td id="berat_sampah">100000 kg</td>
      <td id="harga_sampah">Rp 10,000,000</td>
    </tr>
  </table>
</div>
