<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sirmaba</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
    {% block style %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/style-bsi.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Roboto">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/script.js' %}"></script>
  </head>

<body id="bsi">
    <div class="wrapper">
        <div class="overlay position-fixed d-md-none"></div>
        <!-- Sidebar  -->
        <nav class="sidebar position-fixed d-md-block" id="sidebar">
            <div class="sidebar-header">
                <h3 class="main-title">SIRMABA</h3>
                <h4 class="sub-title">RUMAH HARUM</h4>
                <p class="detail">Sistem Informasi Transaksi dan Manajemen Data Bank Sampah</p>
            </div>

            <ul class="list-unstyled components">
                <p class="bsh">Bank Sampah Rumah Harum</p>
                <li id="dashboard">
                    <a href="{% url 'dashboard:bsi-dashboard' %}">Dashboard</a>
                </li>
                <li id="penjemputan">
                    <a href="{% url 'transaction:pickup-list' %}">Penjemputan Sampah</a>
                </li>
                <li id="rekapitulasi">
                    <a href="{% url 'transaction:deposit-list' %}">Rekapitulasi</a>
                </li>
                <li id="bsu">
                    <a href="{% url 'dashboard:bsu-list' %}">Bank Sampah Unit</a>
                </li>
                <li id="kategori">
                    <a href="{% url 'waste:category-list' %}">Kategori Sampah</a>
                </li>
                <li id="acara">
                    <a href="#">Acara</a>
                </li>
            </ul>
        </nav>

        <div id="content-side">
            <div id="header-button">
                <button type="button" id="sidebarCollapse" class="btn bg-green"><i class="fa fa-bars text-white fa-2x" style="font-size: 25px"></i></button>
                <div id="akun" class="ml-auto btn-group">
                    <button type="button" class="btn">{{ request.user.username }}</button>
                    <a href="{% url 'account:logout' %}?next={% url 'web:landing_page' %}"><button type="button" id="logout" class="btn"><i class="fas fa-sign-out-alt"></i></button></a>
                </div>
            </div>
            <hr>
            <br>

            {% block content %}
            {% endblock %}            
        </div>

        <script>
            var active_sidebar = $('li#{{ section }}');
            $(active_sidebar).addClass('active');
        </script>

        <div class="modal fade" id="modal-status-success" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h3>Berhasil!</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-status-failed" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h3>Gagal!</h3>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            {% if status_code == 201 %}
                $('#modal-status-success').modal('show');
            {% elif status_code == 400 %}
                $('#modal-status-failed').modal('show');
            {% endif %}
        </script>
</html>
