{% extends 'dashboard/bsi/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div class="row m-0">
	<h2 style="color:#009867" class="mt-auto">Bank Sampah Unit</h2>
	<a href="{% url 'dashboard:bsu-create' %}" class="my-auto ml-auto col-md-3 px-0"><button class="py-2 px-3 btn-common ln-green-old"><i class="fa fa-plus px-1"></i><strong>TAMBAH BSU</strong></button></a>
</div>
<br>
<br>
<div class="box-bsu" style="overflow-x:auto">
	<table class="table">
		<thead>
			<th>Kode BSU</th>
			<th>Nama BSU</th>
			<th>Tahun Berdiri</th>
			<th>Penanggung Jawab</th>
			<th></th>
		</thead>
		<tbody>
			{% for bsu in bsu_list %}
			<tr>
				<td>{{ bsu.id }}</td>
				<td>{{ bsu.name }}</td>
				<td>{{ bsu.est_year }}</td>
				<td>{{ bsu.pic }}</td>
				<td class="row">
					<a href="{% url 'dashboard:bsu-detail' bsu_id=bsu.pk %}" class="col-md-6 px-1"><button class="btn btn-common ln-green-old pt-2 px-2">
						<h5>Lihat</h5>
					</button></a>
					<a href="{% url 'dashboard:bsu-edit' bsu_id=bsu.pk %}" class="col-md-6 px-1"><button class="btn btn-common bg-green pt-2 px-2">
						<h5>Ubah</h5>
					</button></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript">
$(document).ready( function () {
	var table = $('.table').DataTable({
		"paging": true,
		"searching": true,
		"ordering": true,
		"drawCallback": function () {
      $('.dataTables_filter').find('input[type=search]').addClass('form-control w-auto d-inline-block p-0');
      $('.dataTables_paginate').find('.current').addClass('rounded-lg ');
      $('.dataTables_wrapper').find('select').addClass('form-control w-auto d-inline-block p-0');
    }
	})
});
</script>

{% endblock %}
