<div class="modal-header">
  <h2><strong>Detail Pendapatan</strong></h2>
</div>
<div class="modal-body">
  <table class="col-md-12">
  {% for category, waste_dict in summary.items %}
    <th id="kategori" colspan="3"><h3><b>{{ category|title }}</b></h3></th>
    {% for waste, details in waste_dict.items %}
    <tr>
      <td id="nama_sampah"><h4>{{ waste|title }}</h4></td>
      <td id="berat_sampah"><h4>{{ details.amount|floatformat }} {{ details.unit }}</h4></td>
      <td id="harga_sampah"><h4>{{ details.price|floatformat }} {{ details.currency }}</h4></td>
    </tr>
    {% endfor %}
  {% endfor %}
    <tr id="total">
      <td><h3><b>Total</b></h3></td>
      <td id="berat_sampah"><h4>{{ summary.total.amount|floatformat }} {{ summary.total.unit }}</h4></td>
      <td id="harga_sampah"><h4>{{ summary.total.price|floatformat }} {{ summary.total.currency }}</h4></td>
    </tr>
  </table>
</div>
