{% extends 'dashboard/bsi/base.html' %}
{% load static %}

{% block content %}
<h2 style="color:#009867">Bank Sampah Unit</h2>
<!-- Breadcrumb Pagination -->
<ul class="breadcrumb">
<li><a href="{% url 'dashboard:bsu-list' %}">Bank Sampah Unit</a></li>
</ul>

<form action="{% url 'dashboard:bsu-edit' bsu_id=bsu_id %}" method="POST" class="box-bsu">
    <h2 class="form-title">UBAH BSU</h2>
    <div class="row">
        <div class="col-sm-6">
            <strong>Data BSU</strong>
        </div>
    </div>
    <br>
    {% csrf_token %}

    {% for bsu_data in bsu_data_form %}
    <div class="form-group col-md-12 px-0">
        {{ bsu_data.label }}
        {{ bsu_data }}
        {{ bsu_data.errors }}
    </div>
    {% endfor %}

    <hr>

    <div class="row">
        <div class="col-sm-6">
            <strong>Akun BSU</strong>
        </div>
    </div>
    <br>
    {% csrf_token %}

    <div class="form-group col-md-6 px-0">
        {{ bsu_admin_form.username.label }}
        <input id="username" type="text" name="username" class="form-control my-2" value="{{ bsu_admin_form.username.value }}">
        {{ bsu_admin_form.username.errors }}
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            Password Baru
            <input id="password1" type="password" name="password1" class="form-control my-2">
            {{ bsu_admin_form.password1.errors }}
        </div>

        <div class="form-group col-md-6">
            Ulangi Password Baru
            <input id="password2" type="password" name="password2" class="form-control my-2">
            {{ bsu_admin_form.password2.errors }}
        </div>
    </div>

    <button type="submit" value="save" class="btn-common bg-green">Simpan</button>
</form>
{% endblock %}
