<div id="menu-2">
  <table class="table">
		<thead>
			<th>Tanggal</th>
			<th>Jumlah Nasabah</th>
			<th>Jumlah Pendapatan</th>
			<th></th>
		</thead>
		<tbody>
			{% for transaction in transactions %}
			<tr id="setoran_{{ forloop.counter }}">
				<td>{{ transaction.timestamp__date }}</td>
				<td>{{ transaction.nr_of_account }}</td>
				<td>{{ transaction.total_income }}</td>
				<td>
					<button id="report-detail" onclick="report_detail('{{ transaction.timestamp__date|date:'Y-m-d' }}')" class="btn btn-common ln-green-old my-1 py-1 px-2">
						Lihat
					</button>
					<a href="#"><button class="btn btn-common bg-green my-1">
						Unduh
					</button></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
