{% extends 'dashboard/bsi/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<h2 style="color:#009867">Bank Sampah Unit</h2>
<!-- Breadcrumb Pagination -->
<ul class="breadcrumb">
<li><a href="{% url 'dashboard:bsu-list' %}">Bank Sampah Unit</a></li>
<li>BSU {{ bsu.pk }}</li>
</ul>

<div class="box-bsu p-5">
	<a href="{% url 'dashboard:bsu-edit' bsu_id=bsu.pk %}"><button id="ubah_data_bsu" class="py-1 px-3 btn-common ln-green-old my-auto ml-auto float-right col-md-3"><small><strong> UBAH DATA BSU</strong></small></button></a>
	<p class="title"><span class="green-text">{{ bsu.name }}</span></p>
	<p> BS00{{ bsu.id }}</p>
</div>
<br>
<div class="row mx-0 menu-grid text-center mb-3">
	<button id="menu-1" class="menu active-menu">
		Data BSU
	</button>

	<button id="menu-2" class="menu">
		Laporan Pendapatan
	</button>
</div>

<div class="box-bsu">
	<div id="menu-1">
		<div class="row">
			<div class="col-md-6">
				<strong>Penanggung Jawab</strong>
				<br>
				{{ bsu.pic }}
			</div>

			<div class="col-md-6">
				<strong>Nomor HP/Telepon</strong>
				<br>
				{{ bsu.contact }}
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<strong>Alamat</strong>
				<br>
				{{ bsu.address }}
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<strong>Tahun Berdiri</strong>
				<br>
				{{ bsu.est_year }}
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<strong>Nomor SK</strong>
				<br>
				{{ bsu.decree_no }}
			</div>

			<div class="col-md-6">
				<strong>Yang Mengeluarkan SK</strong>
				<br>
				{{ bsu.decree_issuer }}
			</div>
		</div>
	</div>

{% include "dashboard/bsi/bsu-report.html" with transactions=transactions %}
</div>

<div class="modal fade" id="report-detail-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-4">

    </div>
  </div>
</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript">
$(document).ready( function () {
	var table = $('.table').DataTable({
		"paging": true,
		"searching": true,
		"ordering": true,
		"drawCallback": function () {
      $('.dataTables_filter').find('input[type=search]').addClass('form-control w-auto d-inline-block p-0');
      $('.dataTables_paginate').find('.current').addClass('rounded-lg ');
      $('.dataTables_wrapper').find('select').addClass('form-control w-auto d-inline-block p-0');
    }
	})
});
</script>

<script type="text/javascript">
	var active_menu = $('#menu-1');

	$(document).ready(function(){
		$('.menu').on('click', function(){
			$(active_menu).removeClass('active-menu');
			$(this).addClass('active-menu');
			$('div#'+$(active_menu).attr('id')).hide(300);
			$('div#'+$(this).attr('id')).show(300);

			active_menu = this;
		});

		report_detail = function(date_str){
			bsu_id = {{ bsu.id }}

			$('#report-detail-modal').find('.modal-content').load('report/'+date_str);
			$('#report-detail-modal').modal();
		};
	})
</script>
{% endblock %}
