{% extends 'dashboard/bsi/base.html' %}
{% load static %}

{% block content %}
<h2 style="color:#009867">Bank Sampah Unit</h2>
<!-- Breadcrumb Pagination -->
<ul class="breadcrumb">
<li><a href="{% url 'dashboard:bsu-list' %}">Bank Sampah Unit</a></li>
<li>Tambah BSU</li>
</ul>

<form action="{% url 'dashboard:bsu-create' %}" method="POST" class="box-bsu">
    <h2 class="form-title">TAMBAH BSU</h2>
    <div class="row">
        <div class="col-sm-6">
            <strong>Akun BSU</strong>
        </div>
    </div>
    <br>
    {% csrf_token %}
    <div class="form-group col-md-6 px-0">
        {{ bsu_data_form.name.label }}<span class="text-danger">*</span>
        <input id="name" type="text" name="name" class="form-control my-2" value="{{ bsu_data_form.name.value|default_if_none:'' }}" required>
        <small class="text-danger">{{ bsu_data_form.name.errors }}</small>
    </div>

    <div class="form-group col-md-6 px-0">
        {{ bsu_admin_form.username.label }}<span class="text-danger">*</span>
        <input id="username" type="text" name="username" class="form-control my-2" value="{{ bsu_admin_form.username.value|default_if_none:'' }}" required>
        <small class="text-danger">{{ bsu_admin_form.username.errors }}</small>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            Password Baru<span class="text-danger">*</span>
            <input id="password1" type="password" name="password1" class="form-control my-2" required>
            <small class="text-danger">{{ bsu_admin_form.password1.errors }}</small>
        </div>

        <div class="form-group col-md-6">
            Ulangi Password Baru<span class="text-danger">*</span>
            <input id="password2" type="password" name="password2" class="form-control my-2" required>
            <small class="text-danger">{{ bsu_admin_form.password2.errors }}</small>
        </div>
    </div>

    <button type="submit" value="save" class="btn-common bg-green">Simpan</button>
</form>

<div class="modal fade" id="modal-status-success" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Berhasil!</h3>  
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-status-failed" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Gagal!</h3>  
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    {% if status_code == 201 %}
        $('#modal-status-success').modal('show');
        $('#modal-status-success').click(function() {
            window.setTimeout(function(){
                window.location.href = "{% url 'dashboard:bsu-list' %}";
            }, 500);
        });
        window.setTimeout(function(){
            window.location.href = "{% url 'dashboard:bsu-list' %}";
        }, 3000);
    {% elif status_code == 400 %}
        $('#modal-status-failed').modal('show');
    {% endif %}
</script>
{% endblock %}
