{% extends 'dashboard/bsi/base.html' %}
{% load static %}

{% block content %}
<div class="row m-0">
	<h2 style="color:#009867" class="mt-auto"><strong>Dashboard</strong></h2>
</div>
<br>
<div id="filter" class="row">
    <select class="form-control col-md-6 py-0" type="text">
        <option value="all">Keseluruhan</option>
        <option value="this_month">Bulan ini</option>
        <option value="last_3_month">3 Bulan Terakhir</option>
        <option value="custom">Custom</option>
    </select>
</div>

<div id="board" class="row">
    <div class="col-md-4 px-0">
        <div class="box-bsi">
            <h3>Pendapatan</h3>
            <h2>Rp 20,000,000</h2>
        </div>
    </div>

    <div class="col-md-4 px-0">
        <div class="box-bsi">
            <h3>Sampah didapat</h3>
            <h2>100 kg</h2>
        </div>
    </div>

    <div class="col-md-4 px-0">
        <div class="box-bsi">
            <h3>Permintaan Penjemputan</h3>
            <h2 class="d-inline pr-3">5 BSU</h2><a href="{% url 'transaction:pickup-list' %}" class="d-inline text-secondary"><u>Lihat detail</u></a>
        </div>
    </div>

    <div class="col-md-8 px-0">
        <div class="box-bsi">
            <h4>Pendapatan</h4>
            <br>
            <div id="line-container" class="col-md-12 px-0">

            </div>
        </div>
    </div>

    <div class="col-md-4 px-0">
        <div class="box-bsi">
            <h4>Sampah Terkumpul</h4>
            <hr class="w-100">
            <div id="pie-container" class="col-md-12 px-0">

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-pie.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-cartesian.min.js"></script>
<script>
    var data = [
      {x: "Sampah A", value: 637166},
      {x: "Sampah B", value: 721630},
      {x: "Sampah C", value: 148662},
      {x: "Sampah D", value: 78662},
      {x: "Sampah E", value: 90000}
    ];

    chart = anychart.pie(data);
    chart.innerRadius("70%");
    chart.container("pie-container");
    chart.legend().position("bottom");
    chart.legend().itemsLayout("horizontal-expandable");
    chart.legend().align("center");
    chart.legend().maxHeight("80%");
    chart.legend().maxWidth("80%");
    chart.legend().fontSize(10);
    chart.draw();
</script>

<script>
    var data = [
      ["Jan", 10],
      ["Feb", 45],
      ["Mar", 35],
      ["Apr", 55],
      ["May", 53],
      ["Jun", 62],
      ["Jul", 70],
      ["Aug", 90],
      ["Sep", 147],
    ];

    chart = anychart.line();
    var series = chart.line(data);
    chart.container("line-container");
    var labels_y = chart.yAxis().labels();
    var labels_x = chart.xAxis().labels();
    labels_y.fontSize(8);
    labels_y.rotation(90);
    labels_y.width(20);
    labels_y.padding(2);
    labels_x.fontSize(8);
    chart.draw();
</script>
{% endblock %}
