{% extends 'dashboard/bsu/base.html' %}
{% load static %}

{% block content %}
<div id="setoran" class="abs-container">
  <div class="row mx-0">
    <span class="title my-auto">Setor Sampah</span>
  </div>

  <br>

  <div class="input-group mb-3">
    <input onchange="search()" id="cari" type="text" class="form-control col-md-6 my-0" placeholder="Cari Nasabah">
    <div class="input-group-append">
      <button onclick="search()" class="btn bg-green px-4 my-0" type="button">Cari</button>
    </div>
  </div>

  <div id="daftar_nasabah" class="row mx-0">
    {% for customer in customers %}
    <div id="nasabah_{{ customer.id }}" class="col-md-6">
      <a href="{% url 'transaction:account-deposit' customer.id %}">
        <div class="box hover-green">
          <h3 id="nama"><b>{{ customer }}</b></h3>
          <h4 id="alamat">{{ customer.address|default_if_none:"Informasi belum diisi" }}</h4>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<script>
    var search = function() {
        input = $('#cari').val();
        regex = new RegExp(input, 'i')

        var filtered = $('div[id*=nasabah_]').filter(function() {
            name = $(this).find("#nama").html();
            if(name.match(regex)) {
                $(this).show();
            } else {
                $(this).hide();
            }
        })
    }
</script>
{% endblock %}
