{% extends 'dashboard/bsu/base.html' %}
{% load static %}

{% block content %}
<div id="setoran" class="abs-container">
  <div class="row mx-0">
    <div claas="col-md-6">
      <span class="title my-auto">Setoran</span>
      <h5 class="pt-0" id="tanggal">{{ date }}</h5>
    </div>
  </div>

  <div class="row mx-0 menu-grid text-center mb-3 col-md-8 px-0">
    <button id="menu-1" class="menu active-menu">
      Ringkasan
    </button>

    <button id="menu-2" class="menu">
      Detail per nasabah
    </button>
  </div>

  <div id="menu-1">
    <div id="sampah" class="col-md-6 px-0">
      <div class="box">
        <table class="col-md-12">
        {% for category, waste_dict in summary.items %}
          <th id="kategori" colspan="3"><h3>{{ category|title }}</h3></th>
          {% for waste, details in waste_dict.items %}
          <tr>
            <td id="nama_sampah"><h4>{{ waste|title }}</h4></td>
            <td id="berat_sampah"><h4>{{ details.amount|floatformat }} {{ details.unit }}</h4></td>
            <td id="harga_sampah"><h4>{{ details.price|floatformat }} {{ details.currency }}</h4></td>
          </tr>
          {% endfor %}
        {% endfor %}

          <tr id="total">
            <td><h3>Total</h3></td>
            <td id="berat_sampah"><h4>{{ summary.total.amount|floatformat }} {{ summary.total.unit }}</h4></td>
            <td id="harga_sampah"><h4>{{ summary.total.price|floatformat }} {{ summary.total.currency }}</h4></td>
          </tr>

        {% if summary.cost %}
        <tr>
          <td><h3>Biaya operasional</h3></td>
          <td><h4>{{ summary.cost.amount|floatformat }} {{ summary.cost.unit }}</h4></td>
        </tr>

        <tr>
          <td><h3>Pendapatan Nasabah</h3></td>
          <td><h4>{{ summary.customer_income.amount|floatformat }} {{ summary.customer_income.unit }}</h4></td>
        </tr>
        {% endif %}
        </table>
      </div>
    </div>
  </div>

  <div id="menu-2" class="row">
    {% for nasabah, data in summary_nasabah.items %}
    <div id="setoran_nasabah_{{ nasabah.id }}" class="col-md-6">
      <div class="box">
        <div id="nasabah" class="row col-md-12">
          <div class="col">
            <h3 id="nama">{{ nasabah }}</h3>
            <h4 id="alamat">{{ nasabah.address|default_if_none:"Informasi belum diisi" }}</h4>
          </div>

          <span id="arrow"><i class="fa fa-angle-down fa-3x"></i></span>
        </div>

        <div id="sampah" class="col-md-12">
          <hr class="w-100">
          <table class="col-md-12">
            {% for category, waste_dict in data.items %}
            <th id="kategori" colspan="3"><h3>{{ category }}</h3></th>
                {% for waste, details in waste_dict.items %}
                <tr>
                  <td id="nama_sampah"><h4>{{ waste|title }}</h4></td>
                  <td id="berat_sampah"><h4>{{ details.amount|floatformat }} {{ details.unit }}</h4></td>
                  <td id="harga_sampah"><h4>{{ details.price|floatformat }} {{ details.currency }}</h4></td>
                </tr>
                {% endfor %}
            {% endfor %}

            <tr id="total">
              <td><h3>Total</h3></td>
              <td id="berat_sampah"><h4>{{ data.total.amount|floatformat }} {{ data.total.unit }}</h4></td>
              <td id="harga_sampah"><h4>{{ data.total.price|floatformat }} {{ data.total.currency }}</h4></td>
            </tr>

          {% if data.cost %}
          <tr>
            <td><h3>Biaya operasional</h3></td>
            <td><h4>{{ data.cost.amount|floatformat }} {{ data.cost.unit }}</h4></td>
          </tr>

          <tr>
            <td><h3>Pendapatan Nasabah</h3></td>
            <td><h4>{{ data.customer_income.amount|floatformat }} {{ data.customer_income.unit }}</h4></td>
          </tr>
          {% endif %}
          </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
    var active_menu = $('#menu-1');

    $(document).ready(function(){
        $('.menu').on('click', function(){
            $(active_menu).removeClass('active-menu');
            $(this).addClass('active-menu');
            $('div#'+$(active_menu).attr('id')).hide(300);
            $('div#'+$(this).attr('id')).show(300);

            active_menu = this;
        });

        $(document).on('click', 'div[id^=setoran_nasabah_] > .box > #nasabah > #arrow', function(){
            panel = $(this).parent().next();
            panel.toggleClass("d-block");
            $(this).toggleClass("flip");
        });
    })
</script>
{% endblock %}
