{% extends 'dashboard/bsu/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div id="setoran" class="abs-container">
  <div class="row mx-0">
    <span class="title my-auto">Setoran</span>
    <a href="{% url 'transaction:deposit-add' %}" class="button-right col-md-3"><button id="tambah_setoran" class="py-1 px-1 btn-common bg-green"><small><i class="fa fa-plus px-1"></i>Setor Sampah</small></button></a>
  </div>

  <br>
  <div id='date-filter-container' class='h-center'>
    <div class='date-filter h-center'>
      <h3 class='black-text'>
        Bulan
      </h3>
      <select name='month' class="form-control" id="id_form-0-waste">
        <option value="0" selected>Semua</option>
        <option value="1">Januari</option>
        <option value="2">Februari</option>
        <option value="3">Maret</option>
        <option value="4">April</option>
        <option value="5">Mei</option>
        <option value="6">Juni</option>
        <option value="7">Juli</option>
        <option value="8">Agustus</option>
        <option value="9">September</option>
        <option value="10">Oktober</option>
        <option value="11">November</option>
        <option value="12">Desember</option>
      </select>
    </div>
    <span></span>
    <div class='date-filter h-center'>
      <h3 class='black-text'>
        Tahun
      </h3>
      <select name='year' class="form-control" id="id_form-0-waste">
        <option value="0" selected>Semua</option>
        {% for year in years%}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div id="daftar_setoran" class="row mx-0">
    {% for transaction in transactions %}
    <div id="setoran_{{ forloop.counter }}" class="col-md-6">
      <a href="{% url 'transaction:deposit-detail' transaction.timestamp__date %}">
        <div class="box hover-green">
          <h3 id="setor_date">{{ transaction.timestamp__date }}</h3>
          <h4>Total Pendapatan: Rp<span id="total_pendapatan">{{ transaction.total_income|floatformat:2|intcomma }}</span></h4>
          <h4 id="total_nasabah">{{ transaction.nr_of_account }} Nasabah</h4>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<script>
    $(document).ready(function() {
        function filtering() {
            let monthFilter = parseInt($('.date-filter select[name="month"]').val())
            let yearFilter = parseInt($('.date-filter select[name="year"]').val())

            $('#daftar_setoran > div').each(function() {
                let date = new Date($(this).find('#setor_date').text());
                let month = date.getMonth() + 1;
                let year = date.getFullYear();

                if (
                   ( monthFilter === 0 || month === monthFilter) &&
                    (yearFilter === 0 || year === yearFilter)
                ) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }

        filtering();
        $('.date-filter select').on('change', function() {
            filtering();
        });
    })
</script>
{% endblock %}
