{% extends 'dashboard/bsu/base.html' %}
{% load static %}

{% block content %}
<div id="setoran" class="abs-container">
  <div class="row mx-0">
    <div claas="col-md-6">
      <span class="title my-auto">Setor Sampah</span>
      <h5 class="pt-0">Setor sampah berhasil!</h5>
    </div>

    <a href="{% url 'transaction:deposit-add' %}" class="button-right col-md-3"><button id="tambah_setoran" class="py-1 px-1 btn-common bg-green"><small><i class="fa fa-plus px-1"></i>Setor Lagi</small></button></a>
  </div>

  <div id="data_setoran" class="row box col-md-6">
    <div id="nasabah" class="col-md-12">
      <h3 id="nama">{{ customer }}</h3>
      <h4 id="alamat">{{ customer.address|default_if_none:"Informasi belum diisi" }}</h4>
    </div>

    <hr class="w-100">
    
    <div id="sampah" class="col-md-12">
      <table class="col-md-12">
        {% for category, wastes in summary.items %}
        <th id="kategori" colspan="3"><h3>{{ category|title }}</h3></th>
        {% for waste, details in wastes.items %}
        <tr>
          <td id="nama_sampah"><h4>{{ waste|title }}</h4></td>
          <td id="berat_sampah"><h4>{{ details.amount|floatformat }} {{ details.unit }}</h4></td>
          <td id="harga_sampah"><h4>{{ details.price|floatformat }} {{ details.currency }}</h4></td>
        </tr>
        {% endfor %}
        {% endfor %}

        <tr id="total">
          <td><h3>Total</h3></td>
          <td id="berat_sampah"><h4>{{ summary.total.amount|floatformat }} {{ summary.total.unit }}</h4></td>
          <td id="harga_sampah"><h4>{{ summary.total.price|floatformat }} {{ summary.total.currency }}</h4></td>
        </tr>

        {% if summary.cost %}
        <tr>
          <td><h3>Biaya operasional</h3></td>
          <td><h4>{{ summary.cost.amount|floatformat }} {{ summary.cost.unit }}</h4></td>
        </tr>

        <tr>
          <td><h3>Pendapatan Nasabah</h3></td>
          <td><h4>{{ summary.customer_income.amount|floatformat }} {{ summary.customer_income.unit }}</h4></td>
        </tr>
        {% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
