{% extends 'landing_base.html' %}
{% load static %}

{% block content %}
    <div class="bg-green-white py-13 px-15 roboto">
      <div class="container bg-white shadows-bottom">
          <h2 class="text-center"><strong>FORMULIR MINAT BERGABUNG</strong></h2>
        <br>
        <br>
        <form action="{% url 'form:interest' %}" method="POST">
          {% csrf_token %}
          <h3 class="font-weight-bold">Data Diri</h3>
          {{ form.non_field_errors }}
          <br>
          {% for form_var in form %}
          <div class="form-group col-md-12 px-0">
            <p>{{ form_var.label }}</p>
            {{ form_var.errors }}
            {{ form_var }}
          </div>
          <br>
          {% endfor %}
          <button type="submit" value="Submit" class="btn-common bg-green poppins font-weight-bold">KIRIM</button>
        </form>
      </div>
    </div>

    <div class="modal fade" id="modal-status-success" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
              <h3>Berhasil Terkirim!</h3>  
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-status-failed" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
              <h3>Gagal Terkirim!</h3>  
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      {% if status_code == 201 %}
        $('#modal-status-success').modal('show');
      {% elif status_code == 400 %}
        $('#modal-status-failed').modal('show');
      {% endif %}
    </script>
{% endblock content %}
