body{
    cursor:default;
}

nav {
 	background: #FAF9FF;
}

button#akun {
	background: #F2F2F2;
	border-radius: 50px;
	border-style: none;
	padding: 4px 18px;
	font-size: 15px;
	color: rgb(0,0,0,0.5);
}

.list-group-button{
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
	width: 100%;
}

.list-group-button > #username {
	color: rgb(0,0,0,0.2);
}

button.list-group-button:first-of-type {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-top: 10px;
}

button.list-group-button:last-of-type {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	margin-bottom: 10px;
}

#menu-bar > div{
	border: none;
	border-bottom: solid 3px white;
}

.nav-item{
    cursor:pointer;
}

.nav-item > img{
	filter: sepia(100%) grayscale(100%);
    opacity: 0.4;
}

.w-35 {
	width: 35% !important;
}

a:hover{
	text-decoration: none;
}

a.navbar-brand:hover{
	color: #009867;
}

a.nav-item{
    color: black;
}

a.button-right{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 50%;
    padding-right: 0;
    padding-left: 0;
}

div#catat_sampah{
    cursor: pointer;
}

table td {
	padding: 0.3rem;
}

table th {
	padding: 0.8rem 0 0.1rem;
}

tr[id^=sampah_] > td#jenis_sampah {
    width: 60%;
}

tr[id^=sampah_] > td#berat_sampah{
    width: 40%;
}

td > .form-control{
    margin: 2px 0;
}

td#jenis_setoran {
    width: 70%;
}

td#jumlah_setoran {
    width: 30%;
}

td#nama_sampah {
    width: 35%
}

td#berat_sampah {
    width: 30%;
    text-align: right;
}

td#harga_sampah {
    width: 35%;
    text-align: right;
}

tr#total > td > * {
    padding-top: 6px;
    font-weight: 700;
}

th#kategori > h3{
    font-weight: 700;
}

tr#total {
    border-top: solid 1px #999;
}

div[id^=setoran_nasabah_] .box > #sampah, div[id^=setoran_] .box > #detail {
    display: none;
    cursor: pointer;
}

div[id^=setoran_nasabah_] > .box > #nasabah > #arrow, div[id^=setoran_] > .box > div > #arrow {
    cursor: pointer;
}

.flip {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

@media (max-width: 768px){

div[id^=nasabah_]{
    padding-right: 0;
    padding-left: 0;
}

div[id^=setoran_]{
    padding-right: 0;
    padding-left: 0;
}

div[id^=setoran_] > a > .box {
    margin: 8px 0;
}

div[id^=nasabah_] > a > .box{
    margin: 8px 0;
}

div#catat_sampah{
    padding-left: 0;
    padding-right: 0;
}
}

table td {
	padding: 0.2rem 0;
}

table th {
	padding: 0.8rem 0 0.1rem;
}

tr[id^=sampah_] > td#jenis_sampah {
    width: 60%;
}

tr[id^=sampah_] > td#berat_sampah{
    width: 40%;
}

td#nama_sampah {
    width: 35%
}

td#berat_sampah {
    width: 30%;
    text-align: right;
}

td#harga_sampah {
    width: 35%;
    text-align: right;
}

tr#total > td > * {
    padding-top: 6px;
    font-weight: 700;
}

th#kategori > h3{
    font-weight: 700;
}

tr#total {
    border-top: solid 1px #999;
}

@media (max-width: 768px){

div[id^=jemput_] > .box{
    margin: 8px 0;
}

}

div#pie-container{
    height: 230px;
}

div#line-container{
    height: calc(10em + 14vw);
}

table td {
	padding: 0.2rem 0;
}

table th {
	padding: 0.8rem 0 0.1rem;
}

tr[id^=sampah_] > td#jenis_sampah {
    width: 60%;
}

tr[id^=sampah_] > td#berat_sampah{
    width: 40%;
}

td > .form-control{
    margin: 2px 0;
}

td#nama_sampah {
    width: 35%
}

td#berat_sampah {
    width: 30%;
    text-align: right;
}

td#harga_sampah {
    width: 35%;
    text-align: right;
}

tr#total > td > * {
    padding-top: 6px;
    font-weight: 700;
}

th#kategori > h3{
    font-weight: 700;
}

tr#total {
    border-top: solid 1px #999;
}

div#pie-container{
    height: 230px;
}

div#line-container{
    height: calc(10em + 14vw);
}

table td {
	padding: 0.2rem 0;
}

table th {
	padding: 0.8rem 0 0.1rem;
}

tr[id^=sampah_] > td#jenis_sampah {
    width: 60%;
}

tr[id^=sampah_] > td#berat_sampah{
    width: 40%;
}

td > .form-control{
    margin: 2px 0;
}

td#nama_sampah {
    width: 35%
}

td#berat_sampah {
    width: 30%;
    text-align: right;
}

td#harga_sampah {
    width: 35%;
    text-align: right;
}

tr#total > td > * {
    padding-top: 6px;
    font-weight: 700;
}

th#kategori > h3{
    font-weight: 700;
}

tr#total {
    border-top: solid 1px #999;
}
