/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Roboto', sans-   ;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    margin-bottom: 0px;
}

a,
a:hover,
a:focus {
    font-family: Roboto;
    font-style: normal;
    font-weight: medium;
    font-size: 16px;
    line-height: 19px;/* identical to box height */
    align-items: center;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.modal-content{
	border-radius: 10px;
}

.form-group{
    margin: 0;
}

#header-button{
    display: flex;
    align-self: center;
}

.btn-group{
    background: #F2F2F2;
    border-radius: 50px;
    padding: 2px;
}

.btn-group > *:hover{
    background: #D2D2D2;
    border-radius: 50px;
}

.btn-group > a:hover{
    background: #D2D2D2;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#akun > .btn{
    border-right: solid 1px #D2D2D2;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #009867;
    color: #fff;
    transition: all 0.3s;
    display: block;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 32px 32px 32px 32px;
    background: #30A982;
}

#sidebarCollapse{
    display: none;
}

#sidebar ul:before{

}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #ffff;
    padding: 16px 32px 16px 32px;
    font-family: 'Roboto';
    border-bottom: 1px solid #ffffff;
}

#sidebar ul li a {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #0E9D6F;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #30A982;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #0E9D6F;
}

a.article,
a.article:hover {
    background: white !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content-side {
    width: calc(100% - 250px);
    padding: 7%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
.main-title{
    font-size: 32px;
    font-weight: bold;
}
.sub-title{
    font-size: 18px;
    font-weight: bold;
    color: #F2C94C;
}
.detail{
    font-family: 'Roboto';
    font-size: 12px;
    color: white;
}
ul.breadcrumb {
    padding: 10px 10px 10px 0px;
    list-style: none;
    background-color: transparent;
}
ul.breadcrumb li {
    display: inline;
    font-size: 16px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #999;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #0E9D6F;
    text-decoration: underline;
}
.box-bsi{
    box-shadow: 0px 0px 10px 0.1px rgba(116, 116, 116, 0.1);
    padding: 8%;
    margin: 10px;
}
.form-title{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 56px;
}
button#tambah_bsu, button#ubah_data_bsu {
    width: 35%;
    float: right;
}
.w-35{
    width:35%;
}
a {
    color: black;
}
a:hover {
    color: #009867;
}
.waste-type-img {
    height: auto;
    width: 100%;
}
.waste-icon {
    height: 235px;
    object-fit: cover;
}

/* ---------------------------------------------------
    WASTE TABLES
----------------------------------------------------- */

table td {
	padding: 0.2rem 0;
}

table th {
	padding: 0.8rem 0 0.1rem;
}

tr[id^=sampah_] > td#jenis_sampah {
    width: 60%;
}

tr[id^=sampah_] > td#berat_sampah{
    width: 40%;
}

td#nama_sampah {
    width: 35%
}

td#berat_sampah {
    width: 30%;
    text-align: right;
}

td#harga_sampah {
    width: 35%;
    text-align: right;
}

tr#total > td > * {
    padding-top: 6px;
    font-weight: 700;
}

th#kategori > h3{
    font-weight: 700;
}

tr#total {
    border-top: solid 1px #999;
}

div#pie-container{
    height: 365px;
}

div#line-container{
    height: calc(10em + 10vw);
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        display: none;
    }
    #content-side{
        width: 100%;
    }
    #sidebarCollapse{
        display: inline;
    }
    button#tambah_bsu{
        width:100%;
        margin-top:10px;
    }
    div[id^=kategori_]{
        margin-bottom:30px;
    }
    div[id^=sampah_]{
        margin-bottom:30px;
    }
}
