{% extends 'dashboard/bsu/base.html' %}
{% load static %}

{% block content %}
<div id="ubah_akun" class="abs-container">
	<span class="title">Ubah Pengaturan Akun</span>

	<div class="box">
		<form action="{% url 'dashboard:admin-edit' %}" method="POST">
			{% csrf_token %}
          	<div class="form-group col-md-6 px-0">
                        {{ admin_form.username.errors }}
          		<p>{{ admin_form.username.label }}<span class="text-danger">*</span></p>
          		<input id="username" type="text" name="username" class="form-control my-2" value={{ admin_form.username.value }} required>
          	</div>

          	<div class="form-group col-md-6 px-0">
                        {{ admin_form.password1.errors }}
          		<p>Password Baru<span class="text-danger">*</span></p>
          		<input id="password1" type="password" name="password1" class="form-control my-2" required>
          	</div>

          	<div class="form-group col-md-6 px-0">
                        {{ admin_form.password2.errors }}
          		<p>Ulangi Password Baru<span class="text-danger">*</span></p>
          		<input id="password2" type="password" name="password2" class="form-control my-2" required>
          	</div>

          	<button type="submit" value="save" class="btn-common bg-green">Simpan</button>
      </form>
	</div>
</div>
{% endblock %}
