<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Sirmaba</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/style-bsu.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Roboto">
    {% block style %}
    {% endblock %}
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
  </head>
  <body id="bsu">
    <nav class="navbar py-auto navbar-expand-md fixed-top shadows-bottom" role="navigation">
      <div class="d-flex d-md-none shadows-top fixed-bottom px-0 py-0 bg-white">
        <div id="menu-bar" class="row w-100 mx-auto text-center">
          <div class="col px-1 py-2">
            <a href="{% url 'dashboard:index' %}" id="beranda" class="nav-item text-black-50">
              <img src="{% static 'dashboard/icons/beranda.svg' %}" class="mb-1">
              <h5 class="my-auto font-weight-bold">Beranda</h5>
            </a>
          </div>
          <div class="col px-1 py-2">
            <a href="{% url 'transaction:deposit' %}" id="setoran" class="nav-item text-black-50">
              <img src="{% static 'dashboard/icons/setoran.svg' %}" class="mb-1">
              <h5 class="my-auto font-weight-bold">Setoran</h5>
            </a>
          </div>
          <div class="col px-1 py-1">
            <a href="{% url 'transaction:pickup' %}" id="penjemputan" class="nav-item text-black-50">
              <img src="{% static 'dashboard/icons/penjemputan.svg' %}" class="pt-0">
              <h5 class="my-auto font-weight-bold">Penjemputan</h5>
            </a>
          </div>
          <div class="col px-1 py-2">
            <a href="{% url 'dashboard:nasabah-list' %}" id="nasabah" class="nav-item text-black-50">
              <img src="{% static 'dashboard/icons/nasabah.svg' %}" class="mb-1">
              <h5 class="my-auto font-weight-bold">Nasabah</h5>
            </a>
          </div>
          <div class="col px-1 py-2">
            <a href="{% url 'dashboard:report' %}" id="laporan" class="nav-item text-black-50">
              <img src="{% static 'dashboard/icons/laporan.svg' %}" class="mb-1">
              <h5 class="my-auto font-weight-bold">Laporan</h5>
            </a>
          </div>
        </div>
      </div>

      <a href="{% url 'dashboard:index' %}" class="navbar-brand poppins green-text font-weight-bold mr-auto" href="">SIRMABA</h4></a>
      <a href="{% url 'dashboard:settings' %}"><button id="akun" class="justify-content-end ml-5">
          {{ request.user.username }}
      </button></a>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div>
          <a href="{% url 'dashboard:index' %}" id="beranda" class="row mr-1 nav-item">
            <img src="{% static 'dashboard/icons/beranda.svg' %}" class="ml-5 mr-1 my-auto">
            <p class="my-auto font-weight-bold">Beranda</p>
          </a>
        </div>

        <div>
          <a href="{% url 'transaction:deposit' %}" id="setoran" class="row mr-1 nav-item">
            <img src="{% static 'dashboard/icons/setoran.svg' %}" class="ml-5 mr-1 my-auto">
            <p class="my-auto font-weight-bold">Setoran</p>
          </a>
        </div>
          
        <div>
          <a href="{% url 'transaction:pickup' %}" id="penjemputan" class="row mr-1 nav-item">
            <img src="{% static 'dashboard/icons/penjemputan.svg' %}" class="ml-5 mr-1 my-auto">
            <p class="my-auto font-weight-bold">Penjemputan</p>
          </a>
        </div>

        <div>
          <a href="{% url 'dashboard:nasabah-list' %}" id="nasabah" class="row mr-1 nav-item">
            <img src="{% static 'dashboard/icons/nasabah.svg' %}" class="ml-5 mr-1 my-auto">
            <p class="my-auto font-weight-bold">Nasabah</p>
          </a>
        </div>

        <div>
          <a href="{% url 'dashboard:report' %}" id="laporan" class="row mr-2 nav-item">
            <img src="{% static 'dashboard/icons/laporan.svg' %}" class="ml-5 mr-1 my-auto">
            <p class="my-auto font-weight-bold">Laporan</p>
          </a>
        </div>
      </div>
    </nav>

    <div id="content">
    {% block content %}

    {% endblock %}
    </div>

    <script>
        $("input[type='number']").on("keypress", function(e) {
            var blockSpecialRegex = /^[0-9]*$/;
            var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (!blockSpecialRegex.test(key)) {
                e.preventDefault();
                return false;
            }
        });

        $("input[data-format='alphabet']").on("keypress", function(e) {
            var blockSpecialRegex = /^[a-zA-Z]*$/;
            var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (blockSpecialRegex.test(key)) {
                e.preventDefault();
                return false;
            }
        });

    </script>

    <script>
      {% if section %}
        var active_header = $('a#{{ section }}');
        $(active_header).find('img').css('filter', 'sepia(0%) grayscale(0%)');
        $(active_header).find('img').css('opacity', '1');
      {% endif %}
    </script>
  </body>

</html>
