{% extends 'dashboard/bsu/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
		<div id="beranda" class="abs-container">
			<div class="box">
				Selamat datang,

				<a href="{% url 'dashboard:profile' %}"><span id="akun" class="green-text float-right my-auto">Lihat Data BSU</span></a>
				<p class="title green-text"><span class="green-text">{{ bsu.name }}</span></p>

				<hr>
				<div class="row mx-auto">
					<a href="{% url 'transaction:deposit' %}" class="col-md-5 mx-auto"><button id="setor_sampah" class="my-1 btn-common bg-green font-weight-bold">Setor Sampah</button></a>
					<a href="{% url 'transaction:pickup' %}" class="col-md-5 mx-auto"><button id="penjemputan" class="my-1 btn-common ln-green font-weight-bold">Jemput Sampah</button></a>
				</div>
			</div>

			<div class="box">
				<a href="{% url 'dashboard:report' %}"><span class="float-right my-auto text-secondary"><small>Lihat selengkapnya</small></span></a>
				Riwayat Pendapatan
				<br>
				<!-- nanti pilih2 lagi aja chartnya mau yang gimana -->
				<br>
				<div id="line-container"></div>
			</div>

			<div class="box">
				Daftar Harga Sampah
				<div>
					<div id='l-waste-price-searcher' class='l-search-bar'>
						<input id="cari" type="text" name="cari" class="form-control" placeholder="Cari Nama Sampah">
						<img src="{% static 'dashboard/icons/search.svg' %}"">
					</div>
					<table id='l-waste-price-table'>
						<thead>
							<th>
								<h4><strong>No.</strong></h4>
							</th>
							<th>
								<h4><strong>Nama</strong></h4>
							</th>
							<th>
								<h4><strong>Harga BSI</strong></h4>
							</th>
							<th>
								<h4><strong>Harga BSU</strong></h4>
							</th>
						</thead>
						<tbody id='l-waste-price-table__body'>
							{% for waste_type in waste_types %}
								<tr>
									<td><h5>{{ forloop.counter }}</h5></td>
									<td><h5>{{ waste_type.name }}</h5></td>
									<td><h5>Rp{{ waste_type.bsi_price|floatformat:2|intcomma }}/{{ waste_type.unit }}</h5></td>
									<td><h5>Rp{{ waste_type.bsu_price|floatformat:2|intcomma }}/{{ waste_type.unit }}</h5></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-core.min.js"></script>
		<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-cartesian.min.js"></script>
		<script>
			var data = [
			  ["Jan", 10],
			  ["Feb", 45],
			  ["Mar", 35],
			  ["Apr", 55],
			  ["May", 53],
			  ["Jun", 62],
			  ["Jul", 70],
			  ["Aug", 90],
			  ["Sep", 147],
			];

			chart = anychart.line();
			var series = chart.line(data);
			chart.container("line-container");
			var labels_y = chart.yAxis().labels();
			var labels_x = chart.xAxis().labels();
			labels_y.fontSize(8);
			labels_y.rotation(90);
			labels_y.width(20);
			labels_y.padding(2);
			labels_x.fontSize(8);
			chart.draw();
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#cari").on("keyup", function() {
					$('#l-waste-price-table__body > tr').each(function() {
						const $fullName = $(this).find('td:nth-child(2) > h5');
						const fullName = $fullName.text();
						const searchedValue = $('#cari').val().toLowerCase();
						const index = fullName.toLowerCase().search(searchedValue);
						if (index >= 0) {
							const prefix = fullName.substring(0, index);
							const coloredText = fullName.substring(index, index + searchedValue.length);
							const suffix = fullName.substring(index + searchedValue.length);
							$fullName.html(`
								${prefix}<span style='color:#009867;'><b>${coloredText}</b></span>${suffix}
							`);
							$(this).show();
						} else {
							$(this).hide();
						}
					});
				});
			});
		</script>
{% endblock %}
