{% extends 'dashboard/bsu/base.html' %}
{% load static %}

{% block content %}
<div id="penjemputan" class="abs-container">
	<p class="title">Penjemputan Sampah</p>

	<div class="row mx-0 menu-grid text-center mb-3 col-md-8 px-0">
        <button id="menu-1" class="menu active-menu">
            Ringkasan
        </button>

        <button id="menu-2" class="menu">
            Riwayat Penjemputan
        </button>
    </div>

	<div id="menu-1" class="col-md-6 px-0">
		<div class="box">
            <div id="sampah">
                <table class="col-md-12">
					<!-- % for kategori in kategori-sampah-apapun-namanya % -->
					<!-- <th id="kategori" colspan="3"><h3>{ kategori.nama }</h3></th> -->
                    <th id="kategori" colspan="3"><h3>Plastik</h3></th>
					<!-- % for sampah in kategori.sampah % -->
					<!--<tr>-->
					<!--<td id="nama_sampah"><h4>{ sampah.nama }</h4></td>-->
					<!--<td id="berat_sampah"><h4>{ sampah.berat_total }</h4></td>-->
					<!--<td id="harga_sampah"><h4>Rp { sampah.harga_total }</h4></td>-->
					<!--</tr>-->
					<tr>
                        <td id="nama_sampah"><h4>Botol A</h4></td>
                        <td id="berat_sampah"><h4>2000 kg</h4></td>
                        <td id="harga_sampah"><h4>Rp 2,500,000</h4></td>
                    </tr>

                    <tr>
                        <td id="nama_sampah"><h4>Botol A</h4></td>
                        <td id="berat_sampah"><h4>2000 kg</h4></td>
                        <td id="harga_sampah"><h4>Rp 2,500,000</h4></td>
                    </tr>

                    <th id="kategori" colspan="3"><h3>Plastik</h3></th>
                    <tr>
                        <td id="nama_sampah"><h4>Botol A</h4></td>
                        <td id="berat_sampah"><h4>2000 kg</h4></td>
                        <td id="harga_sampah"><h4>Rp 2,500,000</h4></td>
                    </tr>

                    <tr>
                        <td id="nama_sampah"><h4>Botol A</h4></td>
                        <td id="berat_sampah"><h4>2000 kg</h4></td>
                        <td id="harga_sampah"><h4>Rp 2,500,000</h4></td>
                    </tr>

                    <tr>
                        <td id="nama_sampah"><h4>Botol A</h4></td>
                        <td id="berat_sampah"><h4>2000 kg</h4></td>
                        <td id="harga_sampah"><h4>Rp 2,500,000</h4></td>
                    </tr>

                    <tr id="total">
                        <td><h3>Total</h3></td>
                        <td id="berat_sampah"><h4>100000 kg</h4></td>
                        <td id="harga_sampah"><h4>Rp 10,000,000</h4></td>
                    </tr>

                </table>

				<!-- still thinking HOW swithing between these two buttons -->
				<a href="#">
					<button id="panggil" class="btn btn-common bg-green shadows-bottom mb-4">
						<h3 class="my-auto">Panggil Bank Sampah</h3>
					</button>
				</a>

				<button id="sudah_panggil" class="btn btn-common disabled shadows-bottom mb-4" disabled>
					<h3 class="my-auto">Sudah Dipanggil</h3>
				</button>
			</div>
        </div>
	</div>

	<div id="menu-2">
		<div class="row">
			<!-- % for pickup in pickups-history % -->
			<!--% for history in pickup %-->
			<div id="jemput_1" class="col-md-6">
				<div class="box">
					<button class="sml-btn bg-red float-right text-center"><h6 class="my-auto">Belum dijemput</h6></button>

					<h3 id="date" class=""><strong>25 April 2019</strong></h3>
					<h4 id="total_pendapatan">Total pendapatan: Rp. <span id="income">150.000</span></h4>
				</div>
			</div>

			<div id="jemput_2" class="col-md-6">
				<div class="box">
					<button class="sml-btn bg-green-lgt float-right text-center"><h6 class="my-auto">Sudah dijemput</h6></button>

					<h3 id="date" class=""><strong>25 Maret 2019</strong></h3>
					<h4 id="total_pendapatan">Total pendapatan: Rp. <span id="income">150.000</span></h4>
				</div>
			</div>

			<div id="jemput_2" class="col-md-6">
				<div class="box">
					<button class="sml-btn bg-green-lgt float-right text-center"><h6 class="my-auto">Sudah dijemput</h6></button>

					<h3 id="date" class=""><strong>25 Maret 2019</strong></h3>
					<h4 id="total_pendapatan">Total pendapatan: Rp. <span id="income">150.000</span></h4>
				</div>
			</div>

			<div id="jemput_2" class="col-md-6">
				<div class="box">
					<button class="sml-btn bg-green-lgt float-right text-center"><h6 class="my-auto">Sudah dijemput</h6></button>

					<h3 id="date" class=""><strong>25 Maret 2019</strong></h3>
					<h4 id="total_pendapatan">Total pendapatan: Rp. <span id="income">150.000</span></h4>
				</div>
			</div>

			<div id="jemput_2" class="col-md-6">
				<div class="box">
					<button class="sml-btn bg-green-lgt float-right text-center"><h6 class="my-auto">Sudah dijemput</h6></button>

					<h3 id="date" class=""><strong>25 Maret 2019</strong></h3>
					<h4 id="total_pendapatan">Total pendapatan: Rp. <span id="income">150.000</span></h4>
				</div>
			</div>

			<div id="jemput_2" class="col-md-6">
				<div class="box">
					<button class="sml-btn bg-green-lgt float-right text-center"><h6 class="my-auto">Sudah dijemput</h6></button>

					<h3 id="date" class=""><strong>25 Maret 2019</strong></h3>
					<h4 id="total_pendapatan">Total pendapatan: Rp. <span id="income">150.000</span></h4>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var active_menu = $('#menu-1');

	$(document).ready(function(){
		$('.menu').on('click', function(){
			$(active_menu).removeClass('active-menu');
			$(this).addClass('active-menu');
			$('div#'+$(active_menu).attr('id')).hide(300);
			$('div#'+$(this).attr('id')).show(300);

			active_menu = this;
		});
	})
</script>

{% endblock %}