{% extends 'dashboard/bsu/base.html' %}
{% load static %}

{% block content %}
<div id="data_akun" class="abs-container">
	<div class="row mx-0">
		<span class="title my-auto">Data BSU</span>
		<a href="{% url 'dashboard:profile-edit' %}" class="button-right col-md-3"><button id="ubah_data" class="py-1 px-3 btn-common ln-green">Ubah data</button></a>
	</div>

	<div class="box">
		<strong>Nama BSU</strong>
		<p>{{ bsu.name }}</p>
		<br>

		<strong>Penanggung Jawab</strong>
		<p>{{ bsu.pic }}</p>
		<br>

		<strong>Nomor HP/Telepon</strong>
		<p>{{ bsu.contact }}</p>
		<br>

		<strong>Alamat</strong>
		<p>{{ bsu.address }}</p>
		<br>

		<strong>Tahun Berdiri</strong>
		<p>{{ bsu.est_year }}</p>
		<br>

		<strong>Nomor SK</strong>
		<p>{{ bsu.decree_no }}</p>
		<br>

		<strong>Yang mengeluarkan SK</strong>
		<p>{{ bsu.decree_issuer }}</p>
		<br>

		<hr>

		<strong>Susunan Kepengurusan</strong>

	</div>
</div>
{% endblock %}
