{% extends 'dashboard/bsu/base.html' %}
{% load static %}

{% block content %}
<div id="ubah_data" class="abs-container">
	<span class="title">Data BSU</span>

	<div class="box">
		<form action="{% url 'dashboard:profile-edit' %}" method="POST">
			{% csrf_token %}

			{% for form in profile_form %}
          	<div class="form-group col-md-6 px-0">
          		<p>{{ form.label }}<span class="text-danger">*</span></p>
                        {{ form.errors }}
          		{{ form }}
          	</div>

          	{% endfor %}

          	<button type="submit" value="save" class="btn-common bg-green ">Simpan</button>
      </form>
	</div>
</div>
{% endblock %}
