{% extends 'dashboard/bsu/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div id="report" class="abs-container">
  <div class="row mx-0">
    <span class="title my-auto">Rekapitulasi</span>
  </div>
  <br>
  <div class="row mx-0 menu-grid text-center mb-3 col-md-8 px-0">
    <button id="menu-1" class="menu active-menu">
      Ringkasan
    </button>

    <button id="menu-2" class="menu">
      Detail per setoran
    </button>
  </div>

  <div id="menu-1">
    <div id="board" class="row">
      <div class="col-md-6">
        <div class="box">
          <h4>Ringkasan</h4>
          <hr class="w-100">

          <h4>Jumlah pendapatan</h4>
          <h4><strong>Rp {{ total_income|floatformat }}</strong></h4>
          <br>

          <h4>Berat sampah terkumpul</h4>
          <h4><strong>{{ total_waste|floatformat }} kg</strong></h4>
        </div>
      </div>

      <div class="col-md-6">
        <div class="box">
          <h4>Sampah Terkumpul</h4>
          <hr class="w-100">
          <div id="pie-container" class="col-md-12 px-0">

          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="box">
          <h4>Riwayat Pendapatan</h4>
          <br>
          <div id="line-container" class="col-md-12 px-0">

          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="box">
          <h4>Rincian</h4>
          <hr class="w-100">

          <div id="sampah" class="px-0">
            <table class="col-md-12">
              {% for category, wastes in summary.items %}
              <th id="kategori" colspan="3"><h3>{{ category|title }}</h3></th>
              {% for waste, details in wastes.items %}
              <tr>
                <td id="nama_sampah"><h4>{{ waste|title }}</h4></td>
                <td id="berat_sampah"><h4>{{ details.amount|floatformat }} {{ details.unit }}</h4></td>
                <td id="harga_sampah"><h4>{{ details.price|floatformat }} {{ details.currency }}</h4></td>
              </tr>
              {% endfor %}
              {% endfor %}

              <tr id="total">
                <td><h3>Total</h3></td>
                <td id="berat_sampah"><h4>{{ summary.total.amount|floatformat }} {{ summary.total.unit }}</h4></td>
                <td id="harga_sampah"><h4>{{ summary.total.price|floatformat }} {{ summary.total.currency }}</h4></td>
              </tr>

              {% if summary.cost %}
              <tr>
                <td><h3>Biaya operasional</h3></td>
                <td><h4>{{ summary.cost.amount|floatformat }} {{ summary.cost.unit }}</h4></td>
              </tr>

              <tr>
                <td><h3>Pendapatan Nasabah</h3></td>
                <td><h4>{{ summary.customer_income.amount|floatformat }} {{ summary.customer_income.unit }}</h4></td>
              </tr>
              {% endif %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="menu-2" class="row">
    <div id='date-filter-container' class='h-center'>
        <div class='date-filter h-center'>
            <h3 class='black-text'>
                Bulan
            </h3>
            <select name='month' class="form-control" id="id_form-0-waste">
                <option value="0" selected>Semua</option>
                <option value="1">Januari</option>
                <option value="2">Februari</option>
                <option value="3">Maret</option>
                <option value="4">April</option>
                <option value="5">Mei</option>
                <option value="6">Juni</option>
                <option value="7">Juli</option>
                <option value="8">Agustus</option>
                <option value="9">September</option>
                <option value="10">Oktober</option>
                <option value="11">November</option>
                <option value="12">Desember</option>
            </select>
        </div>
        <span></span>
        <div class='date-filter h-center'>
            <h3 class='black-text'>
                Tahun
            </h3>
            <select name='year' class="form-control" id="id_form-0-waste">
                <option value="0" selected>Semua</option>
                {% for year in years%}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div id="setoran_id" class="col-md-6">
      {% for date, data in daily_report %}
      <div class="box hover-green">
        <div class="row col-md-12">
          <div class="col">
            <h3 id="setor_date">{{ date }}</h3>
            <h4>Total Sampah: <span id="total_pendapatan">{{ data.total_weight|floatformat }}</span> kg</h4>
            <h4 id="total_nasabah">{{ data.nasabah_set|length }} Nasabah</h4>
          </div>

          <span id="arrow"><i class="fa fa-angle-down fa-4x"></i></span>
        </div>

        <div id="detail" class="col-md-12">
          <hr class="w-100">
          <table class="col-md-12">
            <th colspan="3"><h3>BSI</h3></th>
                <tr>
                  <td id="jenis_setoran" colspan="2"><h4>Setoran BSI</h4></td>
                  <td id="jumlah_setoran" colspan="1"><h4>Rp {{ data.bsu_deposit_income|floatformat }}</h4></td>
                </tr>

            <th colspan="3"><h3>Nasabah</h3></th>
                <tr>
                  <td id="jenis_setoran" colspan="2"><h4>Setoran Nasabah</h4></td>
                  <td id="jumlah_setoran" colspan="1"><h4>Rp {{ data.customer_deposit_margin|floatformat }}</h4></td>
                </tr>
                <tr>
                  <td id="jenis_setoran" colspan="2"><h4>Dana Operasional 10%</h4></td>
                  <td id="jumlah_setoran" colspan="1"><h4>Rp {{ data.customer_deposit_tax|floatformat }}</h4></td>
                </tr>
                <tr>
                  <td id="jenis_setoran" colspan="2"><h4>Total Setoran</h4></td>
                  <td id="jumlah_setoran" colspan="1"><h4>Rp {{ data.customer_deposit_valued|floatformat }}</h4></td>
                </tr>

            <th colspan="3"><h3>BSU</h3></th>
                <tr>
                  <td id="jenis_setoran" colspan="2"><h4>Margin Setoran BSI</h4></td>
                  <td id="jumlah_setoran" colspan="1"><h4>Rp {{ data.bsu_customer_margin|floatformat }}</h4></td>
                </tr>
                <tr>
                  <td id="jenis_setoran" colspan="2"><h4>Pendapatan 10%</h4></td>
                  <td id="jumlah_setoran" colspan="1"><h4>Rp {{ data.customer_deposit_tax|floatformat }}</h4></td>
                </tr>
                <tr>
                  <td id="jenis_setoran" colspan="2"><h4>Total Pendapatan BSU</h4></td>
                  <td id="jumlah_setoran" colspan="1"><h4>Rp {{ data.net_profit|floatformat }}</h4></td>
                </tr>
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>

<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-pie.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.6.0/js/anychart-cartesian.min.js"></script>
<script>
    var active_menu = $('#menu-1');

    $(document).ready(function(){
        $('.menu').on('click', function(){
            $(active_menu).removeClass('active-menu');
            $(this).addClass('active-menu');
            $('div#'+$(active_menu).attr('id')).hide(300);
            $('div#'+$(this).attr('id')).show(300);

            active_menu = this;
        });

        $(document).on('click', 'div[id^=setoran_] > .box > div > #arrow', function(){
            panel = $(this).parent().next();
            panel.toggleClass("d-block");
            $(this).toggleClass("flip");
        });

        function filtering() {
            let monthFilter = parseInt($('.date-filter select[name="month"]').val())
            let yearFilter = parseInt($('.date-filter select[name="year"]').val())

            $('#menu-2 > div[id^=setoran_]').each(function() {
                let date = new Date($(this).find('#setor_date').text());
                let month = date.getMonth() + 1;
                let year = date.getFullYear();

                if (
                   ( monthFilter === 0 || month === monthFilter) &&
                    (yearFilter === 0 || year === yearFilter)
                ) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }

        filtering();
        $('.date-filter select').on('change', function() {
            filtering();
        });
    })
</script>
<script>
    var data = [
      {% for waste, amount in waste_debit.items %}
        {x: "{{ waste }}", value: {{ amount }} },
      {% endfor %}
    ];

    chart = anychart.pie(data);
    chart.innerRadius("70%");
    chart.container("pie-container");
    chart.legend().position("right");
    chart.legend().itemsLayout("vertical");
    chart.legend().align("center");
    chart.legend().maxHeight("80%");
    chart.legend().maxWidth("50%");
    chart.legend().fontSize(13);
    chart.draw();

</script>

<script>
    var data = [
      {% for month, amount in timeline_income %}
        {x: "{{ month|date:"M 'y"|safe }}", value: {{ amount }} },
      {% endfor %}
    ];

    chart = anychart.line();
    var series = chart.line(data);
    chart.container("line-container");
    var labels_y = chart.yAxis().labels();
    var labels_x = chart.xAxis().labels();
    labels_y.fontSize(8);
    labels_y.rotation(90);
    labels_y.width(20);
    labels_y.padding(2);
    labels_x.fontSize(8);
    chart.draw();

</script>
{% endblock %}
