{% extends 'dashboard/bsu/base.html' %}
{% load static %}

{% block content %}
<div id="akun" class="abs-container d-block">
	<div id="pengaturan" class="roboto">
		<span class="title">Pengaturan Akun</span>

		<br>
		<button id="data_akun" class="col-md-6 list-group-button text-left">Lihat Data BSU</button>
		<button id="ubah_akun" class="col-md-6 list-group-button text-left">Ubah Pengaturan Akun</button>
		<button id="ubah_data" class="col-md-6 list-group-button text-left">Ubah Data Bsu</button>
		<a href="{% url 'account:logout' %}?next={% url 'web:landing_page' %}"><button class="col-md-6 list-group-button text-left">Log Out ({{ request.user.username }})</button></a>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(document).on('click', 'button#ubah_akun', function(){
			$('html').load("{% url 'dashboard:admin-edit' %}")
		});

		$(document).on('click', 'button#ubah_data', function(){
			$('html').load("{% url 'dashboard:profile-edit' %}")
		});

		$(document).on('click', 'button#data_akun', function(){
			$('html').load("{% url 'dashboard:profile' %}")
		});

		$(document).on('click', '#beranda', function(){
			$('html').load("{% url 'dashboard:index' %}");
		})
	})
</script>
{% endblock %}
