<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content p-4">
    <div class="modal-header p-4">
      <h2><strong>Tambah Sampah {{ waste_category }}</strong></p>
    </div>
    <div class="modal-body p-5">
      {% if not submit_url %}
        {% url 'waste:type-list' category_id=waste_category.id as submit_url %}
      {% endif %}
      <form action="{{ submit_url }}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% for form in waste_type_form %}
        {{ form.label }}
        {{ form }}
        {% endfor %}
        <button type="submit" class="w-50 btn-common float-right ml-auto bg-green">SIMPAN</button>
      </form>
    </div>
  </div>
</div>
