 <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header p-4">
        {% if waste_category_id %}
        {% url 'waste:category-edit' category_id=waste_category_id as waste_category_url %}
        <h2><strong>Ubah Kategori Sampah</strong></h2>
        {% else %}
        <h2><strong>Tambah Kategori Sampah</strong></h2>
        {% endif %}
      </div>
      <div class="modal-body p-5">
        <form action="{{ waste_category_url }}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {% for form in waste_category_form %}
          {{ form.label }}
          {{ form }}
          {% endfor %}
          <button class="w-50 btn-common float-right ml-auto bg-green" type="submit">Simpan</button>
        </form>
      </div>
    </div>
  </div>
</div>
 