{% extends 'dashboard/bsi/base.html' %}
{% load static %}

{% block content %}
<div class="row m-0">
  <h2 style="color:#009867" class="mt-auto font-weight-bold">Jenis Sampah</h2>
</div>

<ul class="breadcrumb">
<li><a href="{% url 'waste:category-list' %}">Jenis Sampah</a></li>
<li><a href="{% url 'waste:type-list' category_id=waste_category.id %}">{{ waste_category }}</a></li>
<li>{{ waste_type }}</li>
</ul>

<div class="box-bsu p-5 row mx-0">
	<button class="py-1 px-3 btn-common ln-green-old my-auto ml-auto float-right col-md-3"  data-toggle="modal" data-target="#formWasteTypeModal"><small><strong>UBAH DATA</strong></small></button>

	<div class="col-md-12 mt-3">
		<div class="row">
			<div class="col-md-6">
				<strong>{{ waste_type_form.name.label }}</strong>
				<br>
				{{ waste_type.name }}
			</div>

			<div class="col-md-6">
				<strong>{{ waste_type_form.unit.label }}</strong>
				<br>
				{{ waste_type.unit }}
			</div>
		</div>

		<br>
		<div class="row">
			<div class="col-md-6">
				<strong>{{ waste_type_form.bsi_price.label }}</strong>
				<br>
				{{ waste_type.bsi_price }}
			</div>

			<div class="col-md-6">
				<strong>{{ waste_type_form.bsu_price.label }}</strong>
				<br>
				{{ waste_type.bsu_price }}
			</div>
		</div>

		<br>
		<div class="row">
			<div class="col-md-6">
				<strong>{{ waste_type_form.info.label }}</strong>
				<br>
				{{ waste_type.info }}
			</div>
		</div>

		<br>
		<div class="row">
			<div class="col-md-6">
				<strong>Foto Contoh Sampah</strong>
				<br>
				<img class="waste-type-img" src="{{ MEDIA_URL }}{{ waste_type.icon.url }}" alt="{{ waste_type.name }}">
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="formWasteTypeModal" tabindex="-1" role="dialog" aria-hidden="true">
{% url 'waste:type-detail' type_id=waste_type.id as waste_type_form_url %}
{% include "waste/waste-type-form.html" with submit_url=waste_type_form_url waste_category=waste_category %}
</div>

{% endblock %}
