{% extends 'dashboard/bsi/base.html' %}
{% load static %}

{% block content %}
<div class="row m-0">
	<h2 style="color:#009867" class="mt-auto font-weight-bold">Kategori Sampah</h2>
	<button id="tambah_kategori" class="py-2 px-3 btn-common ln-green-old my-auto ml-auto col-md-4" data-toggle="modal" data-target="#addWasteModal"><i class="fa fa-plus px-1"></i><strong>TAMBAH KATEGORI SAMPAH</strong></button>
</div>
<br>
<br>
<section id="sampah">
  <div id="kategori_sampah">
    {% if waste_categories %}
    <div class="row">
      {% for waste_category in waste_categories %}
      <div id="{{ waste_category.id }}" class="col-md-3 pb-4">
        <div class="card shadows-bottom">
          <img class="card-img-top waste-icon" src="{{ MEDIA_URL }}{{ waste_category.icon.url }}" alt="{{ waste_category.name }}">
          <div class="card-body p-4 d-flex flex-wrap">
            <a href="{% url 'waste:type-list' category_id=waste_category.id %}">
              <h3><strong>{{ waste_category.name }}</strong></h3>
              <h5 class="text-secondary">Lihat Varian Sampah</h5>
            </a>
            <button id="tambah_jenis" onclick="edit_category({{ waste_category.id }})" class="my-auto ml-auto w-auto hover-green"><i class="far fa-edit"></i></button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <h3 class="text-center text-background">Belum ada kategori sampah tersedia</h3>
    {% endif %}
  </div>
  <br>
</section>

<div class="modal fade" id="addWasteModal" tabindex="-1" role="dialog" aria-hidden="true">
{% url 'waste:category-list' as submit_url %}
{% include "waste/waste-category-form.html" with waste_category_url=submit_url %}
</div>

<div class="modal fade" id="editWasteModal" tabindex="-1" role="dialog" aria-hidden="true">
</div>

<script>
    edit_category = function(category_id){
        $('#editWasteModal').load(document.location.origin + '/waste/categories/' + category_id + '/edit/', function() {
            $('#editWasteModal').modal('show');
        });
    };
</script>
{% endblock %}
