{% extends 'dashboard/bsi/base.html' %}
{% load static %}

{% block content %}
<div class="row m-0">
  <h2 style="color:#009867" class="mt-auto font-weight-bold">Jenis Sampah</h2>
  <button id="tambah_jenis" class="py-2 px-3 btn-common ln-green-old my-auto ml-auto col-md-3" data-toggle="modal" data-target="#formWasteTypeModal"><i class="fa fa-plus px-1"></i><strong>TAMBAH JENIS SAMPAH</strong></button>
</div>

<ul class="breadcrumb">
<li><a href="{% url 'waste:category-list' %}">Jenis Sampah</a></li>
<li>{{ waste_category }}</li>
</ul>

<section id="sampah">
  <div id="jenis_sampah">
    {% if waste_types %}
    <div class="row">
			{% for waste_type in waste_types %}
			<div id="{{ waste_type.id }}" class="col-md-3 pb-4">
        <div class="card shadows-bottom">
          <a href="{% url 'waste:type-detail' type_id=waste_type.id %}">
						<img class="card-img-top waste-icon" src="{{ MEDIA_URL }}{{ waste_type.icon.url }}" alt="{{ waste_type.name }}">
          	<div class="card-body p-4">
            	<h3><strong>{{ waste_type.name }}</strong></h3>
          	</div>
					</a>
        </div>
      </div>
			{% endfor %}
    </div>
    {% else %}
    <h3 class="text-center text-background">Belum ada sampah tersedia</h3>
    {% endif %}
  </div>
  <br>
</section>

<div class="modal fade" id="formWasteTypeModal" tabindex="-1" role="dialog" aria-hidden="true">
  {% include "waste/waste-type-form.html" with waste_category=waste_category %}
</div>
{% endblock %}
