<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Sirmaba</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/style-bsu.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Roboto">
    <style>
      a[href='{{ request.path }}'] .nav-icon {
        filter: sepia(0%) grayscale(0%);
        opacity: 1;
      }
    </style>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
  </head>
  <body id="bsu">
    <nav class="navbar py-auto navbar-expand-md fixed-top shadows-bottom" role="navigation">
      <div class="d-flex d-md-none shadows-top fixed-bottom px-0 py-0 bg-white">
        <div id="menu-bar" class="row w-100 mx-auto text-center">
          <div class="col px-1 py-2">
            <a href="{% url 'nasabah:home' %}" id="beranda" class="nav-item text-black-50">
              <img src="{% static 'dashboard/icons/home.svg' %}" class="mb-1 nav-icon">
              <h5 class="my-auto font-weight-bold">Beranda</h5>
            </a>
          </div>
          <div class="col px-1 py-2">
            <a href="{% url 'nasabah:deposit-list' %}" id="setoran" class="nav-item text-black-50">
              <img src="{% static 'dashboard/icons/rupiah.svg' %}" class="mb-1 nav-icon">
              <h5 class="my-auto font-weight-bold">Setoran</h5>
            </a>
          </div>
          <div class="col px-1 py-2">
            <a href="{% url 'nasabah:savings' %}" id="tabungan" class="nav-item text-black-50">
              <img src="{% static 'dashboard/icons/wallet.svg' %}" class="mb-1 nav-icon">
              <h5 class="my-auto font-weight-bold">Tabungan</h5>
            </a>
          </div>
          <div class="col px-1 py-2">
            <a href="{% url 'nasabah:profile' %}" id="profil" class="nav-item text-black-50">
              <img src="{% static 'dashboard/icons/person.svg' %}" class="mb-1 nav-icon">
              <h5 class="my-auto font-weight-bold">Profil</h5>
            </a>
          </div>
        </div>
      </div>

      <a href="{% url 'nasabah:home' %}" class="navbar-brand poppins green-text font-weight-bold mr-auto" href="">SIRMABA</h4></a>
      <a href="{% url 'nasabah:settings' %}"><button id="akun" class="justify-content-end ml-5">
          {{ request.user.username }}
      </button></a>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div>
          <a href="{% url 'nasabah:home' %}" id="beranda" class="row mr-1 nav-item">
            <img src="{% static 'dashboard/icons/home.svg' %}" class="ml-5 mr-1 my-auto nav-icon">
            <p class="my-auto font-weight-bold">Beranda</p>
          </a>
        </div>

        <div>
          <a href="{% url 'nasabah:deposit-list' %}" id="setoran" class="row mr-1 nav-item">
            <img src="{% static 'dashboard/icons/rupiah.svg' %}" class="ml-5 mr-1 my-auto nav-icon">
            <p class="my-auto font-weight-bold">Setoran</p>
          </a>
        </div>

        <div>
          <a href="{% url 'nasabah:savings' %}" id="tabungan" class="row mr-1 nav-item">
            <img src="{% static 'dashboard/icons/wallet.svg' %}" class="ml-5 mr-1 my-auto nav-icon">
            <p class="my-auto font-weight-bold">Tabungan</p>
          </a>
        </div>
          
        <div>
          <a href="{% url 'nasabah:profile' %}" id="profil" class="row mr-1 nav-item">
            <img src="{% static 'dashboard/icons/person.svg' %}" class="ml-5 mr-1 my-auto nav-icon">
            <p class="my-auto font-weight-bold">Profil</p>
          </a>
        </div>
      </div>
    </nav>

    <div id="content">
    {% block content %}

    {% endblock %}
    </div>

    <script>
        $("input[type='number']").on("keypress", function(e) {
            var blockSpecialRegex = /^[0-9]*$/;
            var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (!blockSpecialRegex.test(key)) {
                e.preventDefault();
                return false;
            }
        });

        $("input[data-format='alphabet']").on("keypress", function(e) {
            var blockSpecialRegex = /^[a-zA-Z]*$/;
            var key = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (blockSpecialRegex.test(key)) {
                e.preventDefault();
                return false;
            }
        });

    </script>
  </body>

</html>
