<div class="form-group col-md-12 px-0">
    <p>{{ name }}</p>
    {% if type == "text" or type == "number" or type == "password" %}
        <input class="form-control my-1" type="{{type}}" name="{{name}}" value='{{ value|default_if_none:"" }}' required>
    {% elif type == "textarea"%}
        <textarea class="form-control my-1" name="{{name}}" cols="40" rows="10" required>{{ value|default_if_none:"" }}</textarea>
    {% elif type == "select" %}
    {% elif type == "text-fixed"%}
        <input class="h-fixed-input form-control my-1" type="text" name="{{name}}" value='{{ value|default_if_none:" - " }}' readonly>
    {% elif type == "password-fixed"%}
        <input class="h-fixed-input form-control my-1" type="password" name="{{name}}" value='{{ value|default_if_none:" - " }}' readonly>
    {% elif type == "textarea-fixed"%}
        <textarea class="h-fixed-input form-control my-1" name="{{name}}" cols="40" rows="10" readonly>{{value|default_if_none:" - "}}</textarea>
    {% endif %}
</div>