{% load static %}
<div id='l-profile' class="abs-container">
    {% csrf_token %}
    <div class="row mx-0">
        <span id="c-profile__name" class="title my-auto">{{ full_name }}</span>
    </div>
    <br>
    <br>
    <div id="l-profile__nav" class="row mx-0 menu-grid text-center mb-3 col-md-8 px-0">
        <button id="c-profile__nasabah-button" class="menu c-profile__section-button active-menu">
            <h3><strong>Data Nasabah</strong></h3>
        </button>
        <button id="c-profile__account-button" class="menu c-profile__section-button">
            <h3><strong>Data Akun</strong></h3>
        </button>
    </div>
    <div id="l-profile__content">
        <div id='l-profile__nasabah' class='l-profile__section' data-display='show'>
            <div class="box col-md-6">
                <h3>
                    <strong class='black-text'>
                        Nama BSU
                    </strong>
                </h3>
                <p data-name='Nama BSU'>{{ bsu_name }}</p>
                <br>

                <div class="l-flex--row-nowrap l-flex--center-center">
                    <div class='l-profile__data-field'>
                        <h3>
                            <strong class='black-text'>
                                Nama Depan
                            </strong>
                        </h3>
                        <p data-name='Nama Depan'>{{ first_name }}</p>
                    </div>
                    <div class='l-profile__data-field'>
                        <!-- <strong class='black-text'>Nama Belakang</strong> -->
                        <h3>
                            <strong class='black-text'>
                                Nama Belakang
                            </strong>
                        </h3>
                        <p data-name='Nama Belakang'>{{ last_name }}</p>
                    </div>
                </div>
                <br>
                
                <h3>
                    <strong class='black-text'>
                        Nomor Telepon
                    </strong>
                </h3>
                <p data-name='Nomor Telepon'>{{ modified_contact|default_if_none:"-" }}</p>
                <br>

                <h3>
                    <strong class='black-text'>
                        Alamat
                    </strong>
                </h3>
                <p data-name='Alamat'>{{ address|default_if_none:"-" }}</p>
                <br>

                <div class="l-flex--row-nowrap l-flex--center-center">
                    <div class='l-profile__data-field'>
                        <h3>
                            <strong class='black-text'>
                                RT
                            </strong>
                        </h3>
                        <p data-name='RT'>{{ rt|default_if_none:"-" }}</p>
                    </div>
                    <div class='l-profile__data-field'>
                        <h3>
                            <strong class='black-text'>
                                RW
                            </strong>
                        </h3>
                        <p data-name='RW'>{{ rw|default_if_none:"-" }}</p>
                    </div>
                </div>
                <br>
                <button id="c-profile__update-nasabah-button" class="btn-common bg-green poppins font-weight-bold">Ubah Data</button>
            </div>
        </div>
        <div id='l-profile__account' class='l-profile__section'>
            <div class="box col-md-6">
                <h3>
                    <strong class='black-text'>
                        Username
                    </strong>
                </h3>
                <p data-name='Username'>{{ username }}</p>
                <br>

                <h3>
                    <strong class='black-text'>
                        Password
                    </strong>
                </h3>
                <p>
                    <input type='password' name='Password' value='********'>
                </p>
                <br>
                <button id="c-profile__update-account-button" class="btn-common bg-green poppins font-weight-bold">Ubah Data</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-nasabah-form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form data-form="nasabah" onsubmit='return false'>
                    <div class="row mx-0">
                        <h2 class="text-center"><strong>Ubah Data Nasabah</strong></h2>
                    </div>
                    {% include "reusable-pages/input.html" with name='Nama BSU' type='text-fixed' value=bsu_name %}
                    <div class="l-flex--row-nowrap l-flex--center-center">
                        {% include "reusable-pages/input.html" with name='Nama Depan' type='text' value=first_name %}
                        <span class='l-form__field-gap'></span>
                        {% include "reusable-pages/input.html" with name='Nama Belakang' type='text' value=last_name %}
                    </div>
                    {% include "reusable-pages/input.html" with name='Nomor Telepon' type='number' value=pure_contact %}
                    {% include "reusable-pages/input.html" with name='Alamat' type='textarea' value=address %}
                    <div class="l-flex--row-nowrap l-flex--center-center">
                        {% include "reusable-pages/input.html" with name='RT' type='number' value=rt %}
                        <span class='l-form__field-gap'></span>
                        {% include "reusable-pages/input.html" with name='RW' type='number' value=rw %}
                    </div>
                    <button class="btn-common bg-green poppins font-weight-bold">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-account-form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form data-form="account" onsubmit='return false'>
                    <div class="row mx-0">
                        <h2 class="text-center"><strong>Ubah Data Akun</strong></h2>
                    </div>
                    {% include "reusable-pages/input.html" with name='Username' type='text' value=username %}
                    {% include "reusable-pages/input.html" with name='Password' type='password' value='' %}
                    {% include "reusable-pages/input.html" with name='Ulangi Password' type='password' value='' %}
                    <button class="btn-common bg-green poppins font-weight-bold">Simpan</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-status-failed" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h3>Gagal Terkirim!</h3>  
                <p></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        function setNasabahData(data) {
            $.ajax({
                url: '{{ nasabah_service_url }}',
                headers: {
                    "X-CSRFToken": $("input[name='csrfmiddlewaretoken']").val(),
                },
                method: "GET",
                dataType: "json",
                success: (response) => {
                    if (response.status == 200) {
                        let full_name = response.data.first_name + " " + response.data.last_name;
                        $("#c-profile__name").text(full_name);
                        $("#l-profile__account p[data-name='Username']").text(setValue(data.username));
                        $("#l-profile__nasabah p[data-name='Nama Depan']").text(setValue(response.data.first_name));
                        $("#l-profile__nasabah p[data-name='Nama Belakang']").text(setValue(response.data.last_name));
                        $("#l-profile__nasabah p[data-name='Nomor Telepon']").text(setValue(response.data.contact));
                        $("#l-profile__nasabah p[data-name='RT']").text(setValue(response.data.rt));
                        $("#l-profile__nasabah p[data-name='RW']").text(setValue(response.data.rw));
                        $("#l-profile__nasabah p[data-name='Alamat']").text(setValue(response.data.address));
                    } else {
                    }
                }
            });
        }
        var $lastButton = $('#c-profile__nasabah-button');
        var $lastSection = $("#l-profile__nasabah");
        
        function setSection($button, $section) {
            $lastButton.removeClass('active-menu');
            $button.addClass('active-menu');
            $lastSection.hide(300);
            $section.show(300);

            $lastSection = $section;
            $lastButton = $button;
        }

        function filterValue(value) {
            return value === '-'? null: value;
        }

        function setValue(value) {
            return value === null? '-': value;
        }

        function checkError(response) {
            $modal = $('#modal-status-failed');
            message = ''
            if (Array.isArray(response.problem)) {
                response.problem.map((problem, index) => {
                    message += `${index + 1}. ${problem}<br>`;
                });
            } else {
                if (response.problem === 'UNIQUE constraint failed: auth_user.username') {
                    message = 'Username has already been taken';
                } else {
                    message = response.problem;
                }
            }
            $modal.find("p").html(message);
            $modal.modal('show');
        }

        $("#c-profile__nasabah-button").on("click", function() {
            setSection($(this), $('#l-profile__nasabah'));
        });

        $("#c-profile__account-button").on("click", function() {
            setSection($(this), $('#l-profile__account'));
        });

        $("#c-profile__update-nasabah-button").on("click", function() {
            $("#modal-nasabah-form").modal("show");
        });

        $("#c-profile__update-account-button").on("click", function() {
            $("#modal-account-form").modal("show");
        });

        $('form[data-form="account"]').submit(function() {
            const password = $("form[data-form='account'] input[name='Password']").val();
            if ($("form[data-form='account'] input[name='Ulangi Password']").val() === password) {
                const account_data = {
                    "username": $("form[data-form='account'] input[name='Username']").val(),
                    "password": $("form[data-form='account'] input[name='Password']").val(),
                    "bsu_id": parseInt('{{ bsu_id }}'),
                    "first_name": filterValue($("p[data-name='Nama Depan']").text()),
                    "last_name": filterValue($("p[data-name='Nama Belakang']").text()),
                    "contact": filterValue($("p[data-name='Nomor Telepon']").text()),
                    "rt": filterValue($("p[data-name='RT']").text()),
                    "rw": filterValue($("p[data-name='RW']").text()),
                    "address": filterValue($("p[data-name='Alamat']").text()),
                }

                $.ajax({
                    url: '{{ nasabah_service_url }}',
                    headers: {
                        "X-CSRFToken": $("input[name='csrfmiddlewaretoken']").val(),
                    },
                    method: "PUT",
                    dataType: "json",
                    data: JSON.stringify(account_data),
                    success: (response) => {
                        $("#modal-account-form").modal("hide");
                        if (response.status == 200) {
                            setNasabahData(account_data);
                        } else {
                            checkError(response)
                        }
                    }
                });
            } else {
                $("#modal-account-form").modal("hide");
                checkError({
                    problem: "Password does not match"
                })
            }
        });

        $('form[data-form="nasabah"]').submit(function() {
            const nasabah_data = {
                "username": $("p[data-name='Username']").text(),
                "password": null,
                "bsu_id": parseInt('{{ bsu_id }}'),
                "first_name": $("form[data-form='nasabah'] input[name='Nama Depan']").val(),
                "last_name": $("form[data-form='nasabah'] input[name='Nama Belakang']").val(),
                "contact": $("form[data-form='nasabah'] input[name='Nomor Telepon']").val(),
                "rt": $("form[data-form='nasabah'] input[name='RT']").val(),
                "rw": $("form[data-form='nasabah'] input[name='RW']").val(),
                "address": $("form[data-form='nasabah'] textarea[name='Alamat']").val(),
            }

            $.ajax({
                url: '{{ nasabah_service_url }}',
                headers: {
                    "X-CSRFToken": $("input[name='csrfmiddlewaretoken']").val(),
                },
                method: "PUT",
                dataType: "json",
                data: JSON.stringify(nasabah_data),
                success: (response) => {
                    $("#modal-nasabah-form").modal("hide");
                    if (response.status == 200) {
                        setNasabahData(nasabah_data);
                    } else {
                        checkError(response);
                    }
                }
            });
        });
    });
</script>